/* contacts-index-index */
.contacts-index-index	header.desktop-header {}

/* cms-page-view */ 
.cms-page-view	header.desktop-header {}

/* catalog-product-view */
.catalog-product-view	header.desktop-header {}

/* category pages */
.catalog-category-view	header.desktop-header { }

/* review-product-list */
.review-product-list .pager { background:#F5F5F5; padding:15px 5px; }
.review-product-list .amount { text-align:left; padding-top:7px; }
.review-product-list .limiter { text-align:right; }

/* checkout */
.checkout-cart-index {}
.checkout-onepage-index {}

/* advanced search */
.catalogsearch-advanced-index .advanced-search { width:50%; }

.opc { margin:0; padding:0; list-style:none; }
.opc li { display:block; }

.opc .step-title { color: #333; background-color: #F5F5F5; border:1px solid #DDD; padding: 10px 15px 8px 15px; border-bottom: 1px solid transparent; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.opc .step-title span.number { display:inline-block; background:#FFFFFF; border:1px solid #DDDDDD; padding:4px 10px; margin-right:6px;  }
.opc .step-title h2 { display:inline-block; margin: 0px; padding: 0px; line-height: normal; font-size: 16px; text-transform: uppercase; }
.opc .step-title a { display:inline-block; text-transform:uppercase; float:right; }
.opc .step { padding: 15px; background-color: #FFF; border: 1px solid #DDD; border-radius: 0px 0px 4px 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); } 

.opc legend h3,
.opc legend h4 { font-size: 15px; }

.opc ul.form-list { margin:0; padding:0; list-style:none; }
.opc ul.form-list li.control { background:#f6f6f6; padding:8px; margin-bottom:3px; }
.opc ul.form-list li.control:hover { background:#ededed; }
.opc ul.form-list li.control input { display:inline; margin-right:5px;  }
.opc ul.form-list li.control label { display:inline; line-height:1;  }
.opc ul.form-list li.control label:hover { cursor:pointer; text-decoration:underline; }

dl.sp-methods { }
dl.sp-methods dt { display:block;  }
dl.sp-methods dt input,


dl.sp-methods ul li input { display:inline; }
dl.sp-methods ul li label { display:inline; font-size:14px; font-weight:normal;   }
dl.sp-methods ul li label:hover { text-decoration:underline; cursor:pointer; }
 
dl.sp-methods dt:after { display:block;  clear:both; float:none; }

.checkbox-inline {}
.checkbox-inline input { display:inline; }
.checkbox-inline label { display:inline; }

.checkout-onepage-index .validation-advice { position:absolute; font-size:12px;  bottom:-20px; left:0px; color:#FB0004; text-decoration:blink; background:#FBE6E7; padding:2px 6px; border:1px solid #FF0004; z-index:999; }

.checkout-onepage-index				#maincontent:before,
.checkout-onepage-success			#maincontent:before,

.customer-account-index				#maincontent:before,
.customer-account-edit				#maincontent:before,
.customer-address-index				#maincontent:before,
.sales-order-history				#maincontent:before,
.wishlist-index-index				#maincontent:before,
.newsletter-manage-index			#maincontent:before,
.sales-order-view					#maincontent:before,
.checkout-cart-index				#maincontent:before,
.customer-address-form				#maincontent:before,
.wishlist-index-share				#maincontent:before,

.customer-account-login				#maincontent:before,
.customer-account-forgotpassword	#maincontent:before,
.customer-account-create			#maincontent:before {
	/* - */
}


/* START | standart magento pages */
.account-login,
.account-create,
.account-forgotpassword,
.account-logged-out,
.dashboard {}
.logged-out-message {}
/* END | standart magento pages */

ol#compare-items { padding-left:15px; }
ol#my_recent_reviews { list-style:none; padding-left:0px; }

#my-reviews-table { margin:0; }
#my-reviews-table td { border:none; }

/* ¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬- */
/* 											  */
/* B	R	E	A	K	P	O	I	N	T	S */
/* 											  */
/* ¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬- */

@media (max-width: 370px) {
/* iPhone 4 & 5 (Portrait) */
}

@media (max-width:767px) {
/*  MOBILE VIEW */
.catalogsearch-advanced-index .advanced-search { width:100%; }
.contacts-index-index	header.mobile-header {}
.cms-page-view			header.mobile-header {}
.catalog-product-view	header.mobile-header {}
.catalog-category-view	header.mobile-header {}
} /* END | MOBILE VIEW */


@media (min-width:768px) and (max-width:991px) {
/*  TABLET VIEW */
.catalogsearch-advanced-index .advanced-search { width:70%; }
} /* END | TABLET VIEW */

@media (min-width:992px) and (max-width:1199px) {
/*  DESKTOP & TABLET VIEWS */

} /* END | DESKTOP & TABLET VIEW */

@media (min-width:1200px) {
/* LARGE DESKTOP & TABLET VIEW */

} /* END | LARGE DESKTOP & TABLET VIEW */