/*
.clickable-mobile { padding:15px; font-size:18px;  }
.clickable-mobile>ul { margin:0; padding:0; list-style:none; list-style-type:none; }
.clickable-mobile>ul>li { display:block; line-height:2; }
.clickable-mobile>ul>li>a { text-transform:uppercase; font-weight:bold; }

.clickable-mobile>ul>li > ul { margin-left:15px; }
.clickable-mobile>ul>li > ul>li > ul { margin-left:15px; }
.clickable-mobile>ul>li > ul>li > ul>li > ul { margin-left:15px; }
*/



/* Mega Menu */
.nline > .container { position:relative; }

.submain {
	position:absolute; top:58px; left:15px; right:15px; z-index:10;
	display:none;  background:#ebebeb; color:#252525;
	padding:30px;
}

.nmain > ul > li.n-shop:hover .submain { display: block; }

.shop-by-department { font-size:24px; line-height:1; margin-bottom:20px; font-weight:600; }


ul#nav {
	display:block; width:360px; position:relative;
	border:1px solid #42a3d0; background:#ffffff; padding:0px 0px 0px 0px;
	 min-height:202px;
}

ul#nav > li {   font-weight:bold; }
ul#nav > li > a { display:block; height:56px; line-height:56px; padding-left:12px; color:#252525; border-bottom:1px solid #d7d7d7; font-size:15px;}
ul#nav > li:last-child > a { border-bottom:none; }

ul#nav > li:hover > a { background:#252525; color:#FFFFFF; text-decoration:none; }
ul#nav > li:hover > a::after { display:inline-block; content:' '; margin-left:8px; width:8px; height:14px; background:url('../images/arrow.png') no-repeat 0 0;  }

ul#nav > li > ul.level0 {
	display:none; position:absolute; top:0; left:98px; z-index:9;
	background:#FFFFFF; padding:10px 20px; text-align:left;
	border-left:1px solid #42a3d0;
	min-height:225px; min-height: 336px; 
	width:760px;
}
ul#nav > li.over >	ul.level0 { display: block; margin-left: 260px; }


ul.level0 {
-moz-column-count:3;
-moz-column-gap:2%;
-moz-column-width:30%;
-webkit-column-count:3;
-webkit-column-gap:2%;
-webkit-column-width:30%;
column-count:3;
column-gap:2%;
column-width:30%;
}

ul.level0 > li { font-size:13px; font-weight:bold; display:block;  }
ul.level0 > li > a { color:#252525; text-decoration:none; display:block; padding-top:10px; padding-bottom:10px; }
ul.level0 > li > a:hover,
ul.level0 > li > a:focus,
ul.level0 > li > a:active { color:#252525; text-decoration:none; }
ul.level0 > li > a:before { content:'> '}

ul.level0 > li.level1 > ul.level1 { display:none; }
/* // Mega Menu */


/* ¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬- */
/* 											  */
/* B	R	E	A	K	P	O	I	N	T	S */
/* 											  */
/* ¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬-¬- */

@media (max-width: 370px)  {}
/* @media (min-width:371px) and (max-width:767px) { */

@media (max-width:767px) {
/* MOBILE VIEW 	*/

} /* END */


@media (min-width:768px) and (max-width:991px) {
/* TABLET VIEW */

} /* END */

@media (min-width:992px) and (max-width:1199px) {
/* DESKTOP & TABLET VIEWS */

} /* END */

@media (min-width:1200px) {
/* LARGE DESKTOP & TABLET VIEW */

} /* END */
