/* General styles for all menus */
.cbp-spmenu { background: #fff; position: fixed; }
.cbp-spmenu h3 { padding-left:15px; color: #ffffff; font-size: 20px; text-transform:uppercase; letter-spacing:2px; height:68px; line-height:68px; margin: 0; background: #363636; }

ul.push-menu-menu { margin:0; padding:0; list-style:none; }
ul.push-menu-menu > li { display: block; }
ul.push-menu-menu > li > a { display: block; color: #000; border-top: 1px solid #f8ebde; padding: 1em; text-transform:uppercase; letter-spacing:1px;}
ul.push-menu-menu > li > a.collectdown { background:url('../images/dropdown.png') no-repeat 220px center; }
ul.push-menu-menu > li > a:hover {}
ul.push-menu-menu > li > a:active { color: #e6b383; }


/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical { width: 240px; height: 100%; top: 0; z-index: 1000; }

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left { left: -240px; }
.cbp-spmenu-right { right: -240px; }
.cbp-spmenu-left.cbp-spmenu-open { left: 0px; }
.cbp-spmenu-right.cbp-spmenu-open { right: 0px; }


/* Push classes applied to the body */
.cbp-spmenu-push { overflow-x: hidden; position: relative; left: 0; }
.cbp-spmenu-push-toright { left: 240px; }
.cbp-spmenu-push-toleft { left: -240px; }

/* Transitions */
.cbp-spmenu, .cbp-spmenu-push { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; }

/* Example media queries
@media screen and (max-width: 55.1875em){
.cbp-spmenu-horizontal { font-size: 75%; height: 110px; }
.cbp-spmenu-top { top: -110px; }
.cbp-spmenu-bottom { bottom: -110px; }
}
*/

@media screen and (max-height: 26.375em){
.cbp-spmenu-vertical { font-size: 90%; width: 190px; }
.cbp-spmenu-left, .cbp-spmenu-push-toleft { left: -190px; }
.cbp-spmenu-right { right: -190px; }
.cbp-spmenu-push-toright { left: 190px; }
}