/* font-family: 'Arimo', sans-serif; */
::-webkit-input-placeholder { opacity:1; }
:-moz-placeholder { opacity:1; -moz-opacity: 1; }
::-moz-placeholder { opacity:1; -moz-opacity: 1; }
:-ms-input-placeholder { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100); filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); filter:alpha(opacity=100); }


/* WordPress Core | http://codex.wordpress.org/CSS */
.alignnone { margin: 5px 20px 20px 0; }
.aligncenter,
div.aligncenter { display: block; margin: 5px auto 5px auto; }
.alignright { float:right; margin: 5px 0 20px 20px; }
.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.alignright { float: right; margin: 5px 0 20px 20px; }
a img.alignnone { margin: 5px 20px 20px 0; }
a img.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto }
.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%; padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }
/* // WordPress Core | http://codex.wordpress.org/CSS */



body { font-family: 'Arimo', sans-serif; font-size:15px; color:#252525;  }


body.page-print { background:#FFFFFF; }
a { color:#0887C2; }
a:hover { color:#71004D; }
a:focus { outline:none; outline-offset:inherit; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-family: 'Arimo', sans-serif; margin-top:0; }
h1 { font-size:24px; color:#71004d; font-weight:bold;   }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

.wishlist-product-name { font-weight:bold; font-size:15px; text-transform:uppercase; margin-bottom:0;  }
.wishlist-textarea { margin-top:10px; }

ul { margin:0; padding:0; list-style:none; list-style-type:none; }

.core-styling select { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: #555; background-color: #FFF; background-image: none; border: 1px solid #CCC; border-radius: 4px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.core-styling select:focus { border-color: #66AFE9; outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.core-height select { height:66px; }

.nobr { white-space:nowrap; }
.a-center { text-align:center; }
.a-right { text-align:right; }

.relative { position:relative; }

.checkbox label {}
.checkbox label:hover { text-decoration:underline; }
.radio label {}
.radio label:hover { text-decoration:underline; }

.table > tbody > tr > td { vertical-align:middle; }

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus { background-color:#133c7c; border-color:#133c7c; }

.panel-default > .panel-heading h2,
.panel-default > .panel-heading h3 { margin:0; padding:0; line-height:normal; font-size:16px; text-transform:uppercase; }
.panel-default > .panel-heading a:hover,
.panel-default > .panel-heading a:focus { color:#000000; text-decoration:none; }
.panel-default > .panel-heading span.fa.fa-bars { font-size:28px; line-height:0.7 }
.panel-default > .panel-body legend h4 { font-size:15px; }

.page-title { margin-top:20px; margin-bottom:20px; }
.page-title h1 { color:#252525; font-weight:bold; font-size:30px; }

.note-msg { color: #8A6D3B; background-color: #FCF8E3; padding: 15px; margin-bottom: 20px; border: 1px solid #FAEBCC; border-radius: 4px; }
.error-msg { color: #A94442; background-color: #F2DEDE; padding: 15px;border: 1px solid #EBCCD1; border-radius: 4px; margin-bottom:25px; }
.success-msg { color: #3C763D; background-color: #DFF0D8; padding: 15px;border: 1px solid #D6E9C6; border-radius: 4px; margin-bottom:25px; }

/* START | MAGENTO LAYOUT SPECIFIC CSS  */
.welcome-msg { display:none; }
.col-left { }
.col-main { }
.col-right { }

#maincontent { background:#FFFFFF; }

.my-account .pager { }
.my-account .amount { text-align:left; padding-left:0; padding-right:0; }
.my-account .limiter { padding-left:0; padding-right:0; }
.my-account .pages { padding-left:0; padding-right:0; }

.validation-advice { position:absolute; font-size:11px;  bottom:-15px; color:#FB0004; text-decoration:blink; }

/* Navigation */
.nav-container { border:1px double #878787; background:#C9C9C9; }

/* Navbar */
.navbar {
	border:0 none; border-radius:0; margin:0;
	border-top:1px solid #f0f0f0; border-bottom:1px solid #f3f3f3;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);

	background: rgba(247,248,249,1);
	background: -moz-linear-gradient(top, rgba(247,248,249,1) 0%, rgba(246,246,246,1) 47%, rgba(236,236,236,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,248,249,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(236,236,236,1)));
	background: -webkit-linear-gradient(top, rgba(247,248,249,1) 0%, rgba(246,246,246,1) 47%, rgba(236,236,236,1) 100%);
	background: -o-linear-gradient(top, rgba(247,248,249,1) 0%, rgba(246,246,246,1) 47%, rgba(236,236,236,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,248,249,1) 0%, rgba(246,246,246,1) 47%, rgba(236,236,236,1) 100%);
	background: linear-gradient(to bottom, rgba(247,248,249,1) 0%, rgba(246,246,246,1) 47%, rgba(236,236,236,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f8f9', endColorstr='#ececec', GradientType=0 );
}

.navbar .navbar-nav { font-size:16px; }
.navbar .navbar-nav > li > a {
	background:url('../images/2l.jpg') repeat-y left;
	padding: 0px 30px;
	height:48px; line-height:48px;
}
.navbar .navbar-nav > li:last-child > a { border-right:1px solid #acacad; }

.navbar .navbar-form { padding-right:10px; }

.navbar-default .navbar-nav > li:hover > a { background:#D5D5D5;  }
.navbar ul.level0,.navbar ul.level1 { display:none; text-align:left; }
.navbar .dropdown-menu { border:0; }
.navbar ul.level1 { left:150px; top:0; }
.navbar-nav > li { display:inline-block; }

.company-buttons {
	display:inline-block; position:absolute; top:0; right:15px; border-left:1px solid #797f8c; border-right:2px solid #797f8c;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
}
.company-buttons a {
	display:inline-block; float:left; height:49px; line-height:49px; color:#FFFFFF; font-size:16px;
	padding-left:24px; padding-right:23px;
	border-left:1px solid #797f8c;

	background: rgba(18,62,127,1);
	background: -moz-linear-gradient(top, rgba(18,62,127,1) 0%, rgba(31,54,106,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(18,62,127,1)), color-stop(100%, rgba(31,54,106,1)));
	background: -webkit-linear-gradient(top, rgba(18,62,127,1) 0%, rgba(31,54,106,1) 100%);
	background: -o-linear-gradient(top, rgba(18,62,127,1) 0%, rgba(31,54,106,1) 100%);
	background: -ms-linear-gradient(top, rgba(18,62,127,1) 0%, rgba(31,54,106,1) 100%);
	background: linear-gradient(to bottom, rgba(18,62,127,1) 0%, rgba(31,54,106,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#123e7f', endColorstr='#1f366a', GradientType=0 );

}

.mobile-cart-area { position:relative; padding:15px 12px 12px 12px; }

/* Breadcrumbs */
.breadcrums { background:#F5F5F5; }
.breadcrums ol { padding:5px 15px 5px 15px; list-style:none; }
.breadcrums li { display:inline; }
.breadcrums li.home {}
.breadcrums li span {}
.breadcrums li strong {}

a.product-image:hover { text-decoration:none; }


.more-views {
	border-top:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7;
	padding-top:10px; padding-bottom:10px;
	margin-bottom:25px;
}

.more-views>a { float:left; display:block; width:70px; margin-right:10px;   }
.more-views>a img { max-width:100%; }
.more-views>a:hover { text-decoration:none; }


.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover { background-color:#133C7C; }
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { color:#0982bb; background-color:#DEE1F2; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { color:#0982bb; background-color:#DEE1F2 !important; }

/* END | MAGENTO LAYOUT SPECIFIC CSS  */

/* THEME CSS  */
header.desktop-header { background:#ffffff; color:#363636; position:relative;  }
/*
header.desktop-header .logo { display:inline-block; z-index:10; }
*/

/* Blood Bikers */
.col-main > .std .ssbb {
padding-bottom: 32px;
}
.col-main > .std .ssbb h2 {
	font-size: 48px;
	margin-top: 3%;
}
.col-main > .std .ssbb img {
	margin-left: auto;
	margin-right: auto;
}

.links-on-top {
	padding-top:15px; padding-bottom:5px;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
}
.links-on-top ul {padding:0; margin:0; list-style:none; list-style-type:none;}
.links-on-top ul li { display:inline; margin-right:15px; }
.links-on-top ul li a { color:#555555; }
.links-on-top ul li.tradelink a { color:#123d7f; }

.container-neoglory { padding-top: 45px; padding-bottom: 30px; position:relative; }
.neo-logo { display:inline-block; }
.neo-logo img { max-width:100%; }

.neo-search { display:block; width:466px; position:absolute; top: 44px; left: 404px;  }
.neo-search label { display:none; }
.neo-search .form-search { position:relative; }
.neo-search input#search { height:60px; line-height:60px; border:1px solid #0887c2; width:100%; padding-left:15px; font-size:18px;  }
.neo-search button.button { width:60px; height:58px; line-height:58px; position:absolute; top:1px; right:1px; bottom:1px; border:none; background:#ffffff url('../images/icon-search.png') no-repeat center center; text-indent:999px; overflow:hidden; }

.nphone {
	position:absolute; top: 43px; left: 913px;
	line-height:1.1;
	height:62px; padding-top:9px;
	padding-left:73px; background:url('../images/ico-phone.png') no-repeat left;
}
.nphone-1 { display:block; font-size:24px; font-weight:bold; }
.nphone-2 { display:block; font-size:14px; font-weight:bold; }

.neo-cart {
	position:absolute; top:43px; right:15px;
	line-height:1.1;
	display:block; height:62px; padding-top:11px; width:184px;
	padding-left:73px; background:url('../images/ico-basket.png') no-repeat left;
}

.mbtitle { font-size:18px; font-weight:bold; margin-bottom:3px; }
.mbtitle a { color:#000000; }
.mbtitle a:hover { text-decoration:none; }

.mbsum { font-size:14px; }

.neo-cart  .block-subtitle { background:#DDE0F1; color:#000000; }
.neo-cart .block-cart-topcart.cart-area-normal {
	/* height:38px; line-height:38px;
	position:relative; color:#FFFFFF;
	background:#123d7f url('../images/block-cart-topcart.png') no-repeat left;
	padding-left:42px;
	 */
}
.neo-cart .cart-area-hovered {
	display:none; position:absolute; top:36px; left:0; z-index:10; background:#0982bb;  color:#FFFFFF;
	width:310px;
	padding:15px;
}
.neo-cart .cart-text {
	line-height:1; padding:4px 8px; text-align:center;
	display:inline-block; background:#ffd201; color:#FFFFFF; font-weight:bold;
	-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
	position:absolute; top:-6px; left:40px;
}

.minicarttop {}
.subtotal-span { display:block; padding-top:5px;  padding-bottom:5px;  }
.miniviewcart { display:inline-block; float:left; font-size:13px; text-transform:uppercase; line-height:28px; height:28px; }
.minicheckout { display:inline-block; float:right; font-size:13px; text-transform:uppercase; border:none; background:#DEE1F2; color:#0982bb; line-height:28px; height:28px; padding-left:8px; padding-right:8px;  }

.request-a-call-back { display:inline-block; position:fixed; top:270px; left:0; z-index:100;}


footer { background:#dfe3db; margin-top:30px; }

.footer-grey { background:#252525; padding:8px 15px; margin-bottom:35px; }
.footer-grey > ul { margin:0; padding:0; list-style:none; list-style-type:none; }
.footer-grey > ul > li { display:inline-block; position:relative; font-size:17px; font-weight:bold; margin-right:40px;   }
.footer-grey > ul > li > a { display:block; color:#FFFFFF; text-decoration:none; background:url('../images/down.png') no-repeat right; padding-right:30px;   }
.footer-grey .subsub { display:none; position:absolute; top:20px; left:-15px; background:#252525; color:#FFFFFF; min-width:250px; padding:10px 15px 15px 15px; font-weight:normal; font-size:14px; }
.footer-grey .subsub a { color:#FFFFFF; }
.footer-grey .subsub ul { margin:0; padding:0; list-style:none; list-style-type:none; }
.footer-grey .subsub ul li { display:block; }
.footer-grey .subsub ul li a { color:#FFFFFF; text-decoration:none; }
.footer-grey .subsub ul li a:hover { text-decoration:underline; }
.footer-grey > ul > li:hover .subsub { display:inline-block; z-index:100;  }

.footer-copy { text-align:center; margin-bottom:15px; padding-top:15px;   }
.footer-copy ul { margin:0; padding:0; list-style:none; list-style-type:none; }
.footer-copy ul  li { display:inline; font-weight:bold; padding-left:15px; padding-right:15px; background:url('../images/l.png') no-repeat right; }
.footer-copy ul  li:last-child { background:none; }
.footer-copy ul  li a { color:#000000; }
.footer-copy ul  li a:hover { text-decoration:none; }

.footertitle { font-size:18px; font-weight:bold; text-align:center; margin-bottom:18px; }

.social-circles { text-align:center; margin-top:10px; margin-bottom: 25px;  }
.social-circles ul { margin:0; padding:0; list-style:none; list-style-type:0;  }
.social-circles ul li { display:inline-block; margin-left:8px; margin-right:8px;  }

.verve { text-align:center; margin-bottom:40px; }
.verve a { background:url('https://verve-design.co.uk/wp-content/themes/verve/images/verve-black.svg') no-repeat right; padding-right:75px; font-size:14px; color:#000000; text-decoration:none; }

.title-footer { font-size:18px; color:#555555; line-height:1; letter-spacing:2px; margin-bottom:25px; }
.title-footer.title-contact { padding-left:44px; margin-bottom:15px; }
.col-vertical { border-right:1px solid #e8e8e8; min-height:146px; }

.footer-social { padding-left:44px; }
.footer-social a { display:inline-block; float:left; margin-right:15px;  }

.the-address { line-height:40px; padding-left:44px; background:url('../images/the-address.png') no-repeat left;  }
.the-phone {
	line-height:40px; padding-left:44px; font-size:38px; font-weight:900; color:#133c7c;
	background:url('../images/the-phone.png') no-repeat left; font-family: 'Montserrat', sans-serif;
	margin-bottom:20px;
}

.hometop-ctas { padding-top:30px; }
.footer-ctas { border-top:1px solid #0982bb; padding-top:30px; padding-bottom:20px; }

#carousel-neoglory { margin-bottom:35px; }
#carousel-neoglory .carousel-indicators { bottom: -5px; }

.productsline { margin-bottom:30px;  position:relative; }
.titleline { text-align:center; background:url('../images/blue.png') repeat-x center; margin-bottom:25px;  }
.titleline .titleline-title { display:inline-block; font-size:24px; line-height:1; margin:0; background:#FFFFFF; padding:0px 20px;  }


/*
.control-next-prev { display:inline-block; position:absolute; top:-2px; right:0px; background:#FFFFFF; }
.go-prev,
.go-next { border:none; width:30px; height:30px; line-height:30px; float:left; margin-left:6px; }
.go-prev {  background:#123d7f url('../images/go-prev.png') no-repeat center center;  }
.go-next { background:#123d7f url('../images/go-next.png') no-repeat center center;  }
.go-prev:hover,
.go-next:hover { background-color:#dee1f2; }


.carousel-products { overflow:hidden;  }
.carousel-products > ul { }
.carousel-products > ul > li {  }
.carousel-products > ul > li div.procontainer { display:block; padding:15px; }
.carousel-products > ul > li a.promainimage { display:block; border:1px solid #e1e1e1; margin-bottom:15px; }
*/

.owl-controls {display:inline-block; position:absolute; top:-54px; right:0px; background:#FFFFFF;}

.owl-prev,
.owl-next { border:none; width:30px; height:30px; line-height:30px; float:left; margin-left:6px; }
.owl-prev {  background:#0982bb url('../images/go-prev.png') no-repeat center center;  }
.owl-next { background:#0982bb url('../images/go-next.png') no-repeat center center;  }
.owl-prev:hover,
.owl-next:hover { background-color:#dee1f2; }


.promainimage { display:block; border:1px solid #e1e1e1; margin-bottom:15px; position:relative;  }

.the-product-img { max-width:100%; }
.ribbon-new { position:absolute; top:0; left:0; width:86px !important; height:60px !important; }
.ribbon-sale { position:absolute; top:0; right:0; width:86px !important; height:60px !important; }



.priceline { display:block; margin-bottom:10px; height:20px; line-height:20px; color:#133c7c; font-weight:bold; font-size:18px; }
.priceline .the-old-price { text-decoration:line-through; color:#555555; font-size:14px; margin-right:5px;  }

.blue-view { text-align:right; }
.blue-view a { display:inline-block; color:#FFFFFF; background:#133c7c; padding:5px 15px 5px 15px;  }

.basket-blue { text-align:left; }
.basket-blue a { display:inline-block; color:#555555; background:#dde0ef; padding:5px 15px 5px 15px;  }

.hidden-price { text-align:left; }
.hidden-price span { display:inline-block;  padding:5px 15px 5px 0px; color:#555555;  }



.btn { border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; }
.btn-primary { background-color: #0887C2; border-color: #0887C2; }



  /* category toolbar */
.category-products { display:block; }
.category-products .toolbar {}

.category-products .toolbar { margin-bottom:15px; }
.category-products .toolbar:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.category-products .pager li > a,
.category-products .pager li > span { padding:0; background:none; border:none; border-radius:0; margin-left:5px; }
.category-products .pager img.v-middle { vertical-align:inherit; }

.category-products .pager li > a { color:#CA4F3D; text-decoration:underline; }
.category-products .pager li > a:hover { text-decoration:none; }

.category-products .toolbar .pager { background:#F6F6F6; border-bottom:1px solid #e5e5e5; text-align:center; position:relative; padding:10px 10px 10px 10px; margin:0 0 15px 0; min-height:42px;  }
.category-products .toolbar .pager .amount { display:inline-block; position:absolute; top:10px; left:15px; }
.category-products .toolbar .pager .pages { display:inline-block; }
.category-products .toolbar .pager .pages strong { display:inline-block; }
.category-products .toolbar .pager .pages ol { display:inline-block; margin:0 0 0 5px; padding:0;  }
.category-products .toolbar .pager .limiter { display:inline-block; position:absolute; top:10px; right:15px; }
.category-products .toolbar .pager .limiter select { border: 1px solid #B6B6B6; }

.category-products .toolbar .sorter:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.category-products .toolbar .sorter .view-mode { display:inline-block; float:left; margin:3px 0 0 15px;  }
.category-products .toolbar .sorter .view-mode label { font-weight:normal; }
.category-products .toolbar .sorter .view-mode a { color:#D94127; }
.category-products .toolbar .sorter .sort-by { display:inline-block; float:right; margin:3px 15px 0 0;}
.category-products .toolbar .sorter .sort-by select { border: 1px solid #B6B6B6; }

ol.products-list { list-style:none; list-style-type:none; margin:0; padding:0; }
ol.products-list > li { display:block; border-bottom: 1px solid #D9DDD3; padding-bottom:18px; padding-top:18px; }
ol.products-list h2.product-name { font-size:20px; margin-bottom:20px;  }
ol.products-list .price-box { margin-bottom:15px; }
ol.products-list .price-box .price-excluding-tax { display:block; float:none; }
ol.products-list .price-box .price-excluding-tax .label { color: #888; font-size:13px; font-weight:normal; text-transform:uppercase; padding:0; }
ol.products-list .price-box .price-excluding-tax .price { font-size: 18px; font-weight: bold; color: #D84026; margin-left:4px; }
ol.products-list .price-box .price-including-tax { display:block; float:none; padding:0; }
ol.products-list .price-box .price-including-tax .label { color: #888; font-size:13px; font-weight:normal; text-transform:uppercase; padding:0; }
ol.products-list .price-box .price-including-tax .price { font-size: 18px; font-weight: bold; color: #D84026; margin-left:4px; }

ol.products-list .button-container { display:block; margin-bottom:10px; }
ol.products-list .button-container button { display:inline-block; border:none; color:#FFFFFF; text-transform:uppercase; font-size:13px; background:#8a8b8b; padding:8px 15px; margin-right:6px; margin-bottom:6px; }
ol.products-list .button-container button.button.btn-cart { background-color:#cc4e38; }

ol.products-grid { list-style:none; list-style-type:none; margin:0; padding:0; }

.toolbar-bottom { margin-top:15px; }
/* / category toolbar */



/* NEW TOOLBAR */
.control-location {
   height: 38px; line-height:38px;
   display:block; overflow: hidden; width: 100%;
   border:1px solid #4b637e;
   background: #ffffff url('../images/select-drop.png') no-repeat right 15px center;
}
.control-location select {
   -webkit-appearance:none; -moz-appearance:none; appearance:none;
   cursor:pointer; outline:none; border: none;
   background-color:transparent;
   color:#555555; text-shadow: 0px 1px 1px #ffffff;
   height: 38px; line-height:38px; padding-left:10px;
   display:block; width: 110%; /*=*/
}

.showlimit {  font-size:14px; color:#555555 }
.showlimit label { display:block; width:30%; float:left; height:38px; line-height:38px; font-weight:bold;  }
.showlimit .control-location { height:38px; line-height:38px; width:68%; float:left; border:1px solid #d9d9d9; }

.soby {  font-size:14px; color:#555555 }
.soby label { display:block; width:26%; float:left; height:38px; line-height:38px; font-weight:bold;  }
.soby .control-location { height:38px; line-height:38px; width:56%; float:left; border:1px solid #d9d9d9; }
.soby > a { display:inline-block; float:right; }

.row-pagenum {  padding-top:15px; margin-bottom:10px; }
.toolbar-bottom { margin-bottom:50px; }
.toolbar-bottom .row-pagenum { display:block; }

.vmode {}
.vmode ul { display:inline-block; padding:0; margin:0; list-style:none; list-style-type:none; }
.vmode ul li { display:inline-block; float:left; }
.vmode ul li:nth-child(1) { height:38px; line-height:38px; width:48px; }
.vmode ul li:nth-child(1) > span { height:38px; display:block; background:url('../images/grid-off.png') no-repeat 0 0; }
.vmode ul li:nth-child(1) > a {  height:38px; display:block; background:url('../images/grid-on.png') no-repeat 0 0; }

.vmode ul li:nth-child(2) { height:38px; line-height:38px; width:45px; }
.vmode ul li:nth-child(2) > span { height:38px; display:block; background:url('../images/list-off.png') no-repeat 0 0; }
.vmode ul li:nth-child(2) > a {  height:38px; display:block; background:url('../images/list-on.png') no-repeat 0 0; }
/* // NEW TOOLBAR */





.sidebar { padding-top:20px; }

.block { border: 1px solid #DADADA; margin: 0px 0px 10px; }
.block .block-title { padding: 6px 0px 5px 10px; color: #71004D; font-size:18px; text-transform:uppercase;  }
.block .block-content {  padding:0px 15px 0px 15px; }
.block-subtitle { font-size:10px; background:#EBEBEB; text-transform:uppercase; padding:3px;  }

.block-layered-nav { position: relative; }

.block-layered-nav li,
.block-layered-nav li a { }

.block-layered-nav .currently ol { padding:0; margin:0; list-style:none; list-style-type:none; }
.block-layered-nav .currently ol span.label { display:none;}

.block-layered-nav .currently a.btn-remove { color:#71004D; }

#narrow-by-list dt { font-size:16px; font-weight:bold; margin-bottom:1px;}
#narrow-by-list dd { margin-bottom:15px; }
#narrow-by-list dd ol { margin:0px 0 0 0; padding:0; list-style-type:none; list-style:none; }
#narrow-by-list dd ol a { color:#252525; }

.vwrap { top:0 !important; }

.action-clear-all {
	display:inline-block; position:absolute; top:13px; right:15px;
	font-size:14px; color:#000000; text-decoration:underline;
}


ol.mini-products-list { padding:0; margin:0; list-style:none; list-style-type:none; }
ol.mini-products-list > li { display:block; border-bottom:1px dotted #FFFFFF; padding-bottom:10px; padding-top:10px; }
ol.mini-products-list > li a.product-image { display:inline-block; float:left; margin-right:10px; }
ol.mini-products-list > li .product-details { }
ol.mini-products-list > li .product-details .product-name { font-size:13px; line-height:1.3; padding-right:30px; }

ol.mini-products-list > li .mini-btn-del { position:absolute; top:0; right:0;  }
ol.mini-products-list > li .mini-btn-edi { position:absolute; top:0; right:20px; }



/* GRID VIEW */
.products-grid .product-image { display:block; border: 1px solid #E1E1E1; margin-bottom: 15px; position: relative; }
.products-grid .product-name { font-size: 16px; display: block; height: 56px; overflow: hidden; margin-bottom: 5px; }
.products-grid .product-name a { color: #555; }
.products-grid .row-actions { font-size: 13px; }
.products-grid .btn-basket-blue { border:none; display: inline-block; color: #555; background: #DDE0EF; padding: 5px 15px; text-transform:uppercase; }
.products-grid .add-to-links { display:none; }
.products-grid .availability.out-of-stock { display: inline-block; color: #D8D8D8; background: #fff; padding: 5px 15px; text-transform:uppercase; border:1px solid #D8D8D8; }

.products-grid .price-box { display: block; margin-bottom: 10px; height: 60px; line-height: 20px; color: #133C7C; font-weight: bold; font-size: 18px; }
.products-grid .price-box .old-price { display:inline-block; margin-right:15px;  }
.products-grid .price-box .old-price .price-label { display:none; }
.products-grid .price-box .old-price .price { display:inline; text-decoration: line-through; color: #555; font-size: 14px; margin-right: 5px; }
.products-grid .price-box .special-price { display:inline-block; }
.products-grid .price-box .special-price .price-label { display:none; }
.products-grid .price-box .special-price .price { display:inline; }
.products-grid .price-box .price-including-tax .label {color:black;}
.products-grid .price-box .price-excluding-tax .label {color:black;}

.products-grid .product-area { margin-bottom:30px; }
/* // GRID VIEW */

/* LIST VIEW */
.row-list-view { margin-bottom:30px; }
.products-list .product-image { display:block; border: 1px solid #E1E1E1; margin-bottom: 15px; position: relative; }
.products-list .product-image img { max-width:100%; }
.products-list .product-name { font-size: 18px; display: block; margin-bottom: 10px; }
.products-list .product-name a { color: #555; }
.products-list .add-to-links { display:none; }
.products-list  .desc { font-size:13px; }

.products-list .btn-basket-blue { border:none; display: inline-block; color: #555; background: #017CB6; padding: 7px 15px; text-transform:uppercase; color:#FFFFFF; font-weight:bold; font-size:14px;  }
.products-list .availability.out-of-stock { display: inline-block; color: #D8D8D8; background: #fff; padding: 7px 15px; text-transform:uppercase; border:1px solid #D8D8D8; }

.products-list .price-box { display: block; margin-bottom: 10px; height: 20px; line-height: 20px; color: #252525; font-weight: bold; font-size: 24px; }
.products-list .price-box .old-price { display:inline-block; margin-right:15px;  }
.products-list .price-box .old-price .price-label { display:none; }
.products-list .price-box .old-price .price { display:inline-block; text-decoration: line-through; color: #555; font-size: 14px; margin-right: 5px; }
.products-list .price-box .special-price { display:inline-block; }
.products-list .price-box .special-price .price-label { display:none; }
.products-list .price-box .special-price .price { display:inline-block;  }
/* // LIST VIEW */


/* SEND FRIEND */
.back-friend-link { padding-top:8px; }
.submit-friend-link { text-align:right; }

ul.form-list { margin:0; padding:0; list-style:none; list-style-type:none; }
ul.form-list li { display:block; }

.send-friend {}
.send-friend h2.legend { font-size:20px; }
.send-friend label { font-weight:normal; display:block; margin-top:10px; }

.send-friend .input-box { position:relative; }
.rec-del-btn { margin-top:15px; }
.friend-textarea { margin-bottom:30px; }


/* Mobile cart  */
.mobile-menu-acc {}
.mobile-menu-acc li { text-transform:uppercase; padding-top:3px; padding-bottom:3px;  }
.mobile-menu-acc li a { color:#4682C8; }
.mobile-checkout a {
    display: block;
    width: 100%;
    border: medium none;
    background: #2C63A8;
    font-size: 20px;
    color: #FFF;
    text-transform: uppercase;
    padding: 12px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
}
.mobile-total {
    border-top: 1px solid #000;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #000;
}
.total-info { font-weight:bold; }

h2.product-name { font-size:16px; font-weight:bold; }

.cart-item-edit { font-size:12px; }
.cart-item-remove { font-size:12px; }

#shopping-cart-table .form-control.qty { display:inline-block; width:60px; text-align:center; }
#shopping-cart-table .text-center { text-align:center; }

.table-grandtotal td { padding-right:10px; }


.btn-checkout-bottom .btn-checkout {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
}


.headblue { background:#0887c2; color:#FFFFFF; font-size:14px; padding-top:10px; padding-bottom:10px;   }
.headblue a { color:#FFFFFF; }

.needhelp {}
.needhelp a { text-decoration:underline; }

.toplog { text-align:right; }
.toplog ul { padding:0; margin:0; list-style:none; list-style-type:none; }
.toplog ul li { display:inline; }
.toplog ul li > span { padding-left:20px; padding-right:20px; }

.nline { background:#252525; color:#FFFFFF; border-bottom:1px solid #FFFFFF; }

.lll {
	background:#353a40; color:#FFFFFF;
	position:relative;;
}

.points-top { padding-top:9px; padding-bottom:11px; }
.points-top ul { padding:0; margin:0; list-style:none; list-style-type:none; }
.points-top ul li { line-height:1; display:inline; font-size:14px;  margin-right:60px; }
.points-top ul li a { color:#FFFFFF; }



.nmain {}

.nmain > ul { padding:0; margin:0; list-style:none; list-style-type:none; }
.nmain > ul > li { font-size:14px; border-left:1px solid #FFFFFF; display:inline-block; float:left; width:12.5%; }
.nmain > ul > li:last-child { border-right:1px solid #FFFFFF; }
.nmain > ul > li.n-shop { background:#71004d;  }

.nmain > ul > li.n-shop a span.arrow-black { display:inline-block; content:' '; margin:3px 0 0 8px; width:8px; height:16px; background:url('../images/arrow.png') no-repeat 0 3px; }
.nmain > ul > li.n-about a span.arrow-about { display:inline-block; content:' '; margin:3px 0 0 8px; width:8px; height:16px; background:url('../images/arrow.png') no-repeat 0 3px; }

.nmain > ul > li.n-shop.n-hover { background-color:#ebebeb;  }
.nmain > ul > li.n-shop.n-hover a { color:#252525; }
.nmain > ul > li.n-shop.n-hover a span.arrow-black { background-image:url('../images/arrow-black.png'); }

.nmain > ul > li.n-shop > a { font-weight:bold; line-height:inherit; padding-top: 9px;  }
.nmain > ul > li.n-shop > a small { font-weight: normal; font-size: 13px; }
.nmain > ul > li.n-about { background:#0887c2;  }
.nmain > ul > li.n-about > a { font-weight:bold; }
.nmain > ul > li > a { display:block; height:58px; line-height:58px; color:#FFFFFF; text-align:center; }
.nmain > ul > li > a:hover { text-decoration:none; }




.why-choose-ss {
	position:relative; margin-top:30px; margin-bottom:50px;
	text-align:center; display:block; border:1px solid #71004d;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	font-size:15px; padding:35px 20px 35px 20px;
}
.why-choose-ss h5 { display:inline-block;  padding-top:10px; padding-bottom:10px; background:#FFFFFF; font-size:24px; color:#71004d; font-weight:bold;  position:absolute; top:-30px; left: 32%; width: 35%; }
.red-learn-more {
	display:inline-block; font-size:16px; color:#FFFFFF; text-decoration:none; background:#252525;
	padding:10px 20px; border-left:30px solid white; border-right:30px solid white;
	position:absolute; bottom:-24px; left: 39%; width: 21%;
}
.why-intro { font-size:16px; font-weight:bold; }
.red-learn-more:hover,
.red-learn-more:focus { color:#FFFFFF; text-decoration:none; }




.security-banners { position:relative; margin-bottom:45px;  }

/* TABS */
.ttt-container {

	background-repeat:no-repeat;
	background-position: center center;
	/* background-attachment:fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container-tttbottom { position:relative; }

#tttabs { list-style-type:none; margin:-21px 0 0 0; padding:0; display:block; width:100%; }
#tttabs li {
	margin:0; padding:0; display:block; width:25%; float:left; color:#FFFFFF; text-align:center; padding-top:21px;
	background:url('../images/tab-hover.png') no-repeat center top; }
#tttabs li:hover,
#tttabs li:focus { }
#tttabs li.active a { background-color:#353a40; }
#tttabs li.inactive { background-image:none; }

#tttabs li a { display:block; width:100%;  background:#252525; color:#FFFFFF; font-size:17px; padding-top:20px; padding-bottom:20px; font-weight:600;   }
#tttabs li a:hover,
#tttabs li a:focus { color:#FFFFFF; text-decoration:none;  }

#tttabs li a span.smm { font-size:14px;  display:block; }

#tttab-2 a { border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF; }
#tttab-3 a, #tttab-4 a {
    border-right: 1px solid #FFF;
}
/* / TABS */

.ttt-container,
.ttt-container .container { height:390px;  }

/* HERO BANNERS */
.small-logo .container { position:relative; }
.small-logo .container .b-left {
	width:38%; padding:40px 26px 0px 26px;
	position:absolute; left:15px; bottom:0; top:0;
	background:#0887c2;
	color:#FFFFFF;
}

.large-logo .container { position:relative; }
.large-logo .container .b-left {
	width:38%; padding:40px 26px 0px 26px;
	position:absolute; left:15px; bottom:0; top:0;
	background:#0887c2;
	color:#FFFFFF;
}


.price-cuts { font-size:30px; font-weight:bold; margin-bottom:15px; }
.cctv-alarm { font-size:62px; font-weight:bold; margin-bottom:18px; color:#FFFFFF; line-height:1; }
.price-dc { margin-bottom:40px; }

.btn-secure {
	display:inline-block; line-height:1;
	background:#252525; color:#FFFFFF; border:1px solid #ffffff;
	font-size:18px; font-weight:bold; padding:12px 22px;
}
.btn-secure:hover { color:#FFFFFF; text-decoration:none; }


.b-right-price { display:inline-block; background:#252525; color:#FFFFFF; position:absolute; top:30px; right:15px; padding:12px 20px 26px 20px; }
.b-right-price span { line-height:1; display:block; color:#FFFFFF; font-size:36px; }
.b-right-price span strike { font-size:24px; text-decoration:line-through; }


.hometitleline { margin-bottom:2px; }
.subtitleblack { font-weight:normal; color:#000000;  }

.latest-bb { border:1px solid #d7d7d7; margin-bottom:35px;  }
.latest-bb-img { display:block; height:215px; overflow:hidden;  }
.latest-bb-img img { max-width:100%; margin-top:-25%;  }

.latest-in { padding:25px; min-height: 230px; }
.latest-in h5 { font-size:24px; font-weight:bold; }

.latest-in-desc { margin-bottom:15px; }

.ht123 { margin-bottom:20px; }

.yellow-line { background:#ffd201; padding:20px 50px; margin-bottom:30px;  }
.yellow-line .btn-secure { float:right; }

.get-in-touch { font-size:24px; }
.get-in-touch strong { font-size:30px; }


.hcat-area { margin-bottom:30px; }
.hpicks-area { margin-bottom:0px; }

.catttile { text-align:center; background:url('../images/dot-blue.png') repeat-x center; margin-bottom:20px; }
.catttile h2 { display:inline-block; font-size:24px; color:#0887c2; font-weight:bold; background:#FFFFFF; line-height:1; padding-left:35px; padding-right:35px; margin:0; }


.htop-products { margin-bottom:15px; }


.ht-product { border:1px solid #d7d7d7; margin-bottom:20px; }
.ht-product-brown { background-color:#bfc8b7; border-color:#BFC8B7; }


.ht-left { width:50%; float:left; position:relative;  }
.ht-left img { max-width:100%; }
.stamp { display:inline-block; position:absolute; top:10px; left:10px; }

.ht-right { position:relative; width:50%; float:right; padding:30px; }
.ht-right h4 { font-size:22px; font-weight:bold; }
.ht-desc { min-height:180px; }
.ht-bottom-shop { }

.ht-label { display:inline-block; background:#252525; color:#FFFFFF; position:absolute; top:10px; left:10px; padding:8px 12px 14px 12px; }
.ht-label span { line-height:1; display:block; color:#FFFFFF; font-size:20px; }
.ht-label span strike { font-size:14px; text-decoration:line-through; }


.col-relative { position:relative; }

.product-area {
	border:1px solid #d7d7d7; background-color:#FFFFFF;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(255,255,255,0.18);
	-moz-box-shadow: 0px 0px 4px 0px rgba(255,255,255,0.18);
	box-shadow: 0px 0px 4px 0px rgba(255,255,255,0.18);
}
.product-area:hover {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.18);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.18);
}

.pa-box { display:block; }
.pa-box-img { max-width:100%; }
.pa-area { padding:15px; text-align:center; }
.pa-name { margin-bottom:0; font-size:15px; display:block; height:48px; overflow:hidden;  }
.pa-name a { color:#252525; }

.pa-area .price-box { font-size:20px; color:#252525; margin-bottom:25px; line-height: 1.2; }

.summ-rating { height:36px; }


/* rating star */
.ratings { font-size:13px; line-height:1.25; margin:7px 0 7px 0; }
.ratings strong { float:left; margin:1px 3px 0 0; }
.rating-box { width:90px; height:18px; font-size:0; line-height:0; background:url('../images/bkg_rating.png') 0 0 repeat-x; text-indent:-999em; overflow:hidden; }
.rating-box .rating { float:left; height:18px; background:url('../images/bkg_rating.png') 0 100% repeat-x; }
.ratings .rating-box { float:left; margin-right:3px; }
.ratings .rating-links a { color:#000000; text-decoration:underline;  }


.ratings-prod { margin-bottom:20px; }


.actline { display:none; }



.addbas { display:block; width:100%; padding:8px 3px; background:#0887c2; color:#FFFFFF; font-size:18px; font-weight:bold; border:none; margin-bottom:10px;   }
.ico-addbass { background:url('../images/ico-addbas.png') no-repeat left; padding-left:28px; }

.wish-box { display:block; width:100%; padding:8px 3px; background:#dfe3db; color:#000000; font-size:18px; font-weight:bold; border:none;   }
.wish-box:hover { color:#000000; text-decoration:none; }
.ico-addwish { background:url('../images/ico-addwish.png') no-repeat left; padding-left:28px; }


.col-main > .std h2 { font-weight:bold; font-size:16px; }
.col-main > .std ul { list-style:inherit; padding-left:15px; margin-bottom:15px; }

.track-form { padding-top:20px; margin-bottom:20px; }


.breadinner { padding-top:10px; margin-bottom:30px; }
.breadinner ol { padding:0; margin:0; list-style:none; list-style-type:none; }
.breadinner ol li { display:inline; font-size:13px; font-weight:600;  }
.breadinner ol li a { color:#252525; }
.breadinner ol li .bdivv { padding-left:8px; padding-right:8px; }


.prodtitle {}
.prodtitle h1 { font-size:30px; color:#252525;  }

.procode { margin-bottom:22px; font-size:14px; }

.short-description { margin-bottom:30px; }
.short-description .std { margin-bottom:15px; }

.readmoreinfo1 { color:#000000; font-size:15px; text-decoration:underline;   }

.block-related-products { margin-bottom:90px; }

#block-related {}
#block-related ul { display:block; padding:0; margin:0 -14px 0 -14px; list-style:none; list-style-type:none; }
#block-related > ul > li {
	display:block; width:20%; float:left; padding-left:14px; padding-right:14px;
	position: relative;
	min-height: 1px; /* Fixes the hover drop bug */
}
#block-related .price-box { font-size:24px; }
#block-related .price-box .price { font-weight:bold; }


.ybox { background:#ffd201; padding:15px 15px 15px 15px; text-align:center; margin-bottom:50px; }
.ybox ul { display:inline-block; padding:0; margin:0; list-style:none; list-style-type:none;  }
.ybox ul li { display:inline-block; padding:0 10px;  }
.ybox-available { font-size:30px; font-weight:bold; }
.ybox-call { font-size:24px; }
.ybox-btn {}
.ybox-btn a { display:block; background:#252525; color:#FFFFFF; font-weight:18px; font-weight:bold; border:1px solid #FFFFFF; padding:10px 30px  }
.ybox-btn a:hover { text-decoration:none; }


.br-title { font-size:29px; font-weight:bold; margin-bottom:20px; }


.pvtabs { margin-bottom:25px; }


.product-img-box .product-image { display:block; margin-bottom:30px; }


.proopt-title { font-size: 19px; margin-bottom:15px;  }




.greyopt { background:#ebebeb; padding:15px 15px 10px 15px; border:1px solid #dcdcdc; margin-bottom:38px;   }
.greyopt p.required { display:none; }

.greyopt dl { margin-bottom: 10px; }
.greyopt dl:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;  }

.greyopt dl dt { display:block; width:15%; float:left; }
.greyopt dl dt label {  font-weight:bold; padding-top:5px;  }

.greyopt dl dd { display:block; width:83%; float:right; }
.greyopt dl dd .input-box select { border:1px solid #c2bdb9; height:30px; line-height:30px; padding-left:14px; width:100%;  }

.greyopt .input-box { position:relative; }



.share-module { text-align:right; margin-bottom:30px;  }

.product-view-stock-status { font-size:13px; }
.stockyes { color:#39b54a; }
.stockno { color:#d43737; }


.product-options-bottom {}
.product-options-bottom .price-box { display:inline-block; float:left; line-height:1; }
.product-options-bottom .price-box .regular-price { color:#252525; font-size:46px; font-weight:bold;  }

.product-options-bottom .add-to-cart { display:inline-block; float:right; }

.product-options-bottom .add-to-cart label { display:inline-block; height:46px; line-height:46px; }
.product-options-bottom .add-to-cart .input-text.qty { display:inline-block;  height:46px; line-height:46px; border:1px solid #d7d7d7; width:50px; text-align:center; font-weight:bold; margin-right:10px;  }
.product-options-bottom .add-to-cart .button.btn-cart { font-size:18px; display:inline-block; border:none; background:#0887c2; color:#FFFFFF; font-weight:bold; padding-left:38px; padding-right:38px; }
.product-options-bottom .add-to-cart .button.btn-cart > span { display:inline-block;  height:46px; line-height:46px; background:url('../images/addcart.png') no-repeat left; padding-left:35px; }

.mo-info { font-size:15px; }


.add2ok { /* background: #EBEBEB; padding: 15px 15px 10px; border: 1px solid #DCDCDC; margin-bottom: 38px; */ }

.a2ok-price { display: inline-block; float: left; line-height: 1; }
.a2ok-price .price { color: #252525; font-size: 46px; font-weight: bold; }


.a2ok-right { display:inline-block; float:right; }
.a2ok-label { display: inline-block; height: 46px; line-height: 46px; }
.a2ok-input { display: inline-block; height: 46px; line-height: 46px; border: 1px solid #D7D7D7; width: 50px; text-align: center; font-weight: bold; margin-right: 10px; }
.a2ok-submit { font-size: 18px; display: inline-block; border: medium none; background: #0887C2; color: #FFF; font-weight: bold; padding-left: 38px; padding-right: 38px; }
.a2ok-submit span { display: inline-block; height: 46px; line-height: 46px; background: transparent url("../images/addcart.png") no-repeat scroll left center; padding-left: 35px; }


.buttons-set {}
.buttons-set .back-link { display:block; text-align:center; background:#F1F0EE; margin-top:15px; margin-bottom:15px; padding:10px; font-size:13px;  }
.buttons-set .back-link a { text-transform:uppercase; font-weight:bold; color:#000000; }

/* Hides image and text on the main category / non-anchor pages */
.non-achor .category-image { display:none }
.non-achor .category-description.std { }
.non-achor .page-title.category-title h1 { color:#252525; text-transform:none; font-size:30px; }



.htin { display:block; overflow:hidden; }
.htin img {  width: 100%; height: auto; }


.actline-grid .addbas { font-size:14px; }
.actline-grid .addbas:hover { color:#FFFFFF; text-decoration:none; }

.actline-grid .wish-box { font-size:14px; }
.actline-grid .ico-addwish { background-size:18px auto; padding-left:22px; }


.toolbar-grey { background:#ebebeb; padding:10px 10px 5px 10px; }

.pages { text-align: right; }
.pages > strong { display: inline-block; }
.pages ol { display: inline-block;  margin: 0; padding: 0; list-style: none none; }
.pages ol li { display: inline-block; margin-left: 3px;  }

.price-excluding-tax,
.price-including-tax { display: block; }

.price-excluding-tax span.label,
.price-including-tax span.label { font-size: 14px; font-weight: normal; }

.catalogsearch-result-index .page-title h1 { font-size:24px; color:#0887c2; }

.hmresults { font-weight:bold; color:#252525; font-size:18px; padding-left:6px; }
.showingresults { font-weight:bold; font-size:13px; }


.block-refine { background:#ebebeb; font-weight:bold; font-size:18px; padding:10px 15px; margin-bottom:15px; }

.blue-dummy { height: 30px; }
.wideblue-cms { margin-bottom: 50px; }

img.alignleft { display: inline-block; float: left; margin-right: 10px; margin-bottom: 10px;   }

img.alignright { display: inline-block; float: right; margin-left: 10px; margin-bottom: 10px;  }

.gatesafe-footer { display: inline-block;  margin-bottom: 20px;  position: absolute; top: 0; right: 0;  }
.gatesafe-footer img { max-width: 120px; }
.gtsafe { position: relative; padding-right: 140px; }


  /*8888888888ba
 dP'         `"8b,
 8  ,aaa,       "Y888a     ,aaaa,     ,aaa,  ,aa,
 8  8' `8           "88baadP""""YbaaadP"""YbdP""Yb
 8  8   8              """        """      ""    8b
 8  8, ,8         ,aaaaaaaaaaaaaaaaaaaaaaaaddddd88P
 8  `"""'       ,d8""
 Yb,         ,ad8"    BREAKPOINTS
  "Y8888888888*/







.global-site-notice.demo-notice { text-align:center; background:#fffc00; color:#FF0606; font-weight:bold; text-transform:uppercase; padding:2px 4px 4px 4px; margin-bottom:4px;  }
.global-site-notice.demo-notice p { margin:0; }

.tinynav { display: none }

#newsletter-validate-detail { position: relative; }
.signup-btn {
    display: inline-block; height:44px; line-height:44px; padding-left:15px; padding-right:15px;
    background: #0887c2; color: #FFFFFF; font-size: 16px; font-weight: bold; border: none; margin-bottom: 10px;
    position: absolute; top: 0; right: 0;
}
#newsletter { width:100%; height:44px; line-height:44px; margin-bottom: 10px; padding: 8px; border:1px solid #cccccc; background:#FFFFFF; }

.wideblue { background:#0887c2; color:#FFFFFF; padding-top:15px; }
.wideblue a { color:#FFFFFF; }
.wideblue h1 { color:#FFFFFF; font-size:42px; font-weight:bold; text-align:center; margin-bottom:50px;  }

.whitebread { margin-bottom:40px; }
.whitebread ul { margin:0; padding:0; list-style:none none; }
.whitebread ul li { display:inline; }
.whitebread ul li:after { content:'/'; margin-left:5px; margin-right:5px; }
.whitebread ul li:last-child:after { content:''; display:none; }

.secure-lead { padding-top:30px; padding-left:15px; margin-bottom:30px;  }
.carousel-what { margin-bottom:30px;  }

.yellowbtn { background:#ffd201; padding:25px; margin-bottom:30px; text-align:center;  }
.yellowbtn ul {
	margin:0 auto; padding:0; list-style:none none;
	display:table;
	width:auto;
	max-width: 100%; border-spacing: 0; border-collapse: collapse;
}
.yellowbtn ul li { display:table-cell; padding-left:10px; padding-right:10px; vertical-align:middle; }

.btnb {
	display:inline-block; min-width:166px; text-align:center; white-space:normal;
	height:44px; line-height:42px;
	border:1px solid white;
	background:#000000; color:#FFFFFF;
	padding-left:15px; padding-right:15px;
	font-size:18px; font-weight:bold;
}
.btnb:hover,
.btnb:focus,
.btnb:active { text-decoration:none; color:#FFFFFF; }

.what-std p { margin-bottom:20px; }
.what-std h2 { font-size:30px; font-weight:bold; color:#252525; margin-bottom:23px;  }
.what-std h3 { font-size:24px; font-weight:bold; color:#252525; margin-bottom:23px;  }

.yytt { font-size:24px; }
.yytt .ycontact { font-size:30px; }

.why-choose-title { font-size: 20px; font-weight: bold; }
.why-choose { margin-top: 40px; border-bottom: 1px solid #e0e0e0; }
.why-choose p  { height: 50px;  }

.nmain li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    width:100%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.05s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#ebebeb;
		color: black;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
		color: black;
		text-decoration: none;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#ebebeb;
}
.products-dropdown:hover { background: #ebebeb; color: black; }

.shop-category-intro { margin-bottom: 30px; }

.catblock { margin-bottom: 30px; border: 1px solid #d7d7d7; background-color: #FFFFFF; }
.catblock:hover {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.18);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.18);
}
.catblock dl { margin: 0; padding: 0; }
.catblock dl dt.catblock-image { height: 230px; overflow: hidden; }
.catblock dl dt.catblock-image img { max-width: 100%; }
.catblock dl dd.catblock-name {
	padding: 15px; min-height: 77px;
	text-align: center; font-size: 18px; font-weight: bold; line-height: 1.25;
}
.catblock dl dd.catblock-name a { color: #252525; }

.cms-page-view .std h2,
.cms-page-view .std h3,
.cms-page-view .std h4,
.cms-page-view .std h5,
.cms-page-view .std h6 { font-size: 24px; }


.small-logo { background-position: 67%; background-color: #0887c2; background-size: 300px; }

#search_autocomplete {
    background: rgb(255, 255, 255);
    z-index: 9999;
    padding: 10px;	
}

#search_autocomplete ul li { cursor: pointer; }


.covidbox {
	display: none; 
	border-top: 2px solid #fff; 
	background-color: #71004D; color: #fff;
	padding: 5px 10px 6px 10px;
	text-align: center; 
	letter-spacing: 2px; 
	font-size: 9px; 
}
.covidbox .title {}
.covidbox .description {}

.cms-home .covidbox,
.categorypath-online-shop-html .covidbox { display: block; }


/* MOBILE VIEW 	*/
 @media (max-width:767px) {
    /* --------------------------------------------------------------
    WordPress Core | http://codex.wordpress.org/CSS
    -------------------------------------------------------------- */
    .alignnone { margin: 5px 0px 20px 0; }
    .aligncenter,
    div.aligncenter { display: block; margin: 5px auto 5px auto; }
    .alignright { display:block; width:100%; height:auto; float:none; margin: 5px 0 20px 0px; }
    .alignleft { display:block; width:100%; height:auto; float: none; margin: 5px 0px 20px 0; }
    a img.alignright { display:block; width:100%; height:auto; float: none; margin: 5px 0 20px 0px; }
    a img.alignnone { display:block; width:100%; height:auto; margin: 5px 0px 20px 0; }
    a img.alignleft { display:block; width:100%; height:auto; float: none; margin: 5px 0px 20px 0; }
    .wp-caption { padding: 0; max-width: 100%; /* Image does not overflow the content area */ }
    .wp-caption.alignnone { margin: 5px 0px 20px 0; }
    .wp-caption.alignleft { display:block; width:100%; height:auto; float: none; margin: 5px 0px 20px 0; }
    .wp-caption.alignright { display:block; width:100%; height:auto; float: none; margin: 5px 0 20px 0px; }
    .wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 100%; padding: 0; width: auto; }
    /* --------------------------------------------------------------
    END | WordPress Core | http://codex.wordpress.org/CSS
    -------------------------------------------------------------- */

    body { font-size:13px; }
    h1 {font-size: 22px; }

    .panel > .list-group:first-child .list-group-item:first-child, .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child { border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
    .logo-mobile { text-align:center; }

    .mobile-header { background:#FFFFFF; }

    .title-footer.title-contact { padding-left: 0px;  margin-bottom: 15px; }
    .the-address { line-height: 1.4; padding-left: 0px;  background:none;}
    .the-phone { line-height: 1; padding-left: 0px;  background:none; font-size: 28px;}
    .footer-social { padding-left: 0; }

    .titleline .titleline-title { font-size: 18px ;}
    .the-address { margin-bottom:10px; }

    /* mobile toolbar */
    .category-products .toolbar .pager .amount { display:block; position:static; }
    .category-products .toolbar .pager .limiter { display:block; position:static; }
    .category-products .toolbar .sorter .sort-by { display:block; position:static; text-align:center; }
    .category-products .toolbar .sorter .sort-by label { display:none; font-weight:normal;  }
    .category-products .toolbar .sorter .sort-by a { display:none; }
    /* // mobile toolbar */

    /* mobile search bar */
    .mobilesearch { padding-left:15px; padding-left:15px; }
    .mobilesearch .form-search { display:block; position:relative; }
    .mobilesearch .form-search label { display:none; }
    .mobilesearch .form-search input.input-text { border:1px solid #143A7E; height:35px; line-height:35px; padding-left:15px; padding-right:80px; display:block; width:90%;  }
    .mobilesearch .form-search button.button {
        position:absolute; top:0; right:15px; height:35px; line-height:35px; border:none; background:#0982bb; color:#FFFFFF;
        padding-left:15px; padding-right:15px;
    }
    /* mobile logo */
    .logo-mobile { margin-bottom:15px; }

    /* mobile top area */
    .mob-menu-cart { margin-bottom:15px; }

    .mob-menu { display:block; width:20%; float:left; background:#0982bb; height:43px; line-height:1; padding-top:7px;  }
    .mob-hamburger { color:#FFFFFF; font-size:24px; }

    .mob-cart { display:block; width:80%; float:left; background:#0982bb; height:43px; line-height:1; padding-top:7px; text-align:right; padding-right:15px;  }
    .mob-cart > a { display:inline-block; }
    .mob-whitecart { color:#FFFFFF; font-size:24px; display:inline-block; float:left; margin-right:10px; }
    .mob-cart small { font-size:15px; color:#FFFFFF; display:inline-block; float:left; padding-top:6px;  }

    .mobile-total {
        border-top: 1px solid #000;
        padding-top: 10px;
        text-align: center;
        font-size: 18px;
        color:#C80003;
        font-weight:700;
    }

    .mobile-checkout a {
        display: block;
        width: 100%;
        border: medium none;
        background: #71004D;
        font-size: 16px;
        color: #FFF;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 12px;
        line-height: 1;
        margin-bottom: 10px;
        text-align: center;
        font-weight:bold;
    }
    .mobile-checkout a:hover { text-decoration:none; }

    .mobile-menu-acc li {
        text-transform: uppercase;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .total-info { color:#000000; font-size:16px; font-weight:bold; padding-top:5px;}

    table.single-product { color:#000; margin-bottom:10px;  }

    .large-logo .container .b-left {
    	padding: 20px 13px 0 26px;
    }

    .footer-grey { margin-bottom:15px; }
    .footer-grey ul {}
    .footer-grey ul li { display:block; margin-right:0; }

    .why-choose-ss { margin-top:30px; padding: 20px 20px 40px 20px; }
    .why-choose-ss h5 { font-size:20px; top:-23px; left: 15%; width: 70%; }
    .red-learn-more { left: 15%; width: 70%; font-size:14px; }

    .ttt-container, .ttt-container .container {
        height: 200px;
    }

    #tttabs li { padding-top:10px; }
    #tttabs li a { font-size:9px; padding-top:10px; padding-bottom:10px;  height: 45px;  }
    #tttabs li a span { font-size:9px; }

    .actline { display:block; }

    .points-top ul li { font-size:12px; display:block; text-align:center;  margin:0; padding:2px; }
    .mobilesearch { margin-bottom:15px; }

    .logo-mobile { width:100%; padding-left:15px; padding-right:15px;  }
    .logo-mobile img { max-width:100%; }


    .why-choose-ss { padding:0;  border:none;  margin-top:0; margin-bottom:10px; }
    .why-choose-ss h5 { font-size: 22px; width: 100%; position:static;  }
    .red-learn-more { display:inline-block; position:static; margin-top:15px; }

    .mobmenulogo { padding:8px 50px 11px 15px; }
    .mobmenulogo img { max-width:100%; }

		.col-main > .std .ssbb h2 { text-align: center; }

    .b-right-price { top: 5px; right: 5px; padding: 5px; }
    .b-right-price span { font-size:18px; }
    .b-right-price span strike { font-size: 13px; }

    .small-logo .container .b-left { width: 58%;  padding: 10px; }
    .price-cuts { font-size: 11px; margin-bottom: 5px; }
    .cctv-alarm { font-size: 16px; margin-bottom: 10px; }
    .price-dc { margin-bottom: 10px; font-size:12px;  }
    .btn-secure { font-size:11px; padding: 8px;}

    .ht-left { width: 100%; float: none; }
    .ht-right { width: 100%; float: none; padding:15px; }
    .ht-right h4 { font-size: 18px; }
    .ht-desc { min-height:auto; font-size:13px; }
    .ht-bottom-shop { padding-top:15px; }

    .latest-bb-img { height: 100px; }
    .latest-in { padding: 15px; }
    .latest-in h5 { font-size: 17px; }

    .yellow-line { padding:15px; }


    .get-in-touch { font-size: 14px; }
    .get-in-touch strong { font-size: 17px; }

    .catttile h2 { font-size: 16px;  }

    .pa-name { font-size: 14px; }
    .pa-area .price-box { font-size: 20px; }
    .addbas { font-size: 14px; }
    .addwish { font-size: 14px; }

    .why-choose-ss h5 { font-size: 18px; }
    .why-intro { font-size: 14px; }
    .why-choose-ss { font-size:13px; }

    .footer-grey > ul > li { font-size:14px; }
    .footertitle { font-size: 14px; }

    .footer-copy ul li { padding-left:8px; padding-right:8px; font-size:12px;  }

    .verve { margin-bottom:15px; }

    .security-banners {  margin-bottom: 15px; }


    #block-related ul { margin:0; }
    #block-related > ul > li { width:100%; padding-left: 0px; padding-right: 0px; margin-bottom:25px;  }

    .block-related-products { margin-bottom:0px; }

    .join3  { padding-top:15px; }


    .ybox ul li { display:block; }
    .ybox-available {    font-size: 15px; }
    .ybox-call { font-size: 17px; }
    .ybox ul li.ybox-btn { padding-top:15px; }

    .product-view-stock-status { margin-bottom:15px; }
    .product-options-bottom { margin-bottom:15px; }


    .product-options-bottom .add-to-cart label { display:none; }
    .product-options-bottom .price-box { display: block; float: none; line-height: 1; margin-bottom:15px; }

    .product-options-bottom .add-to-cart { display:block; float:none;}
    .product-options-bottom .add-to-cart .button.btn-cart { padding-left:15px; padding-right:15px; }

    .product-options-bottom .price-box .regular-price { font-size: 32px; }

    .greyopt { margin-bottom:30px; }

    .prodtitle h1 { font-size: 22px; }

    .a2ok-label { display:none; }
    .a2ok-price { display:block; float:none; margin-bottom:15px;  }
    .a2ok-right  { display:block; float:none; margin-bottom:15px;  }
    .a2ok-price .price { font-size:32px; }
    .a2ok-submit { padding-left: 15px;  padding-right: 15px; }

    /* NEW TOOLBAR */
    .showlimit label { display:none; }
    .showlimit .control-location { width:100%; float:none; }
    .soby { padding-top:10px; }
    .soby label { display:none; }
    .soby .control-location { width:76%;  }
    /* // NEW TOOLBAR */

    .whitebread { margin-bottom: 15px; }
    .wideblue h1 { font-size:22px; margin-bottom:15px; }
    .secure-lead { padding-top:15px; padding-left: 0px; }
    .yytt,
    .yytt .ycontact { font-size:16px; }
    .what-std h2 { font-size:20px; margin-bottom: 15px; }
    .what-std h3 { font-size:18px; margin-bottom: 15px; }

    .catblock dl dt.catblock-image { height: 160px; }

     .gtsafe { padding-right: 0;  }
     .gatesafe-footer { display: block; width: 100%; position: static; text-align: center;  padding-top: 15px;  }
     .gatesafe-footer img { display: inline-block; }

     .small-logo { background-size: 150px; background-position: 99% center; background-color: rgb(8, 135, 194); }

	 .small-logo .container .b-left { width: 48%; }
} /* Don't delete */


@media (min-width:768px) and (max-width:991px) {
    /* TABLET VIEW */
    .neo-logo { width:222px; }
    .neo-logo img { max-width:100%; }
    .neo-search { width:210px; left:260px; }
    .neo-cart { width:240px; }
    .neo-cart .cart-area-hovered { width:240px; }

		.col-main > .std .ssbb img { margin-top: 30%; }

    .navbar-nav { display:block; width:100%; float:none; border-right:1px solid #ACACAD; border-bottom:1px solid #ACACAD; border-top:1px solid #ACACAD; }
    .navbar .navbar-nav > li:last-child { float:right; }
    .navbar .navbar-nav > li:last-child > a { border-right: none; }
    .navbar .navbar-nav > li > a { padding: 0px 22px; }

    .company-buttons { display:block; width:100%; float:none; position:static; }
    .company-buttons .company-buttons-1 { display:block; width:50%; float:left; text-align:center; }
    .company-buttons .company-buttons-2 { display:block; width:50%; float:right; text-align:center; }

    .request-a-call-back { top: 153px; left: -12px; }
    .request-a-call-back img { width:44px; }

    .why-choose-ss h5 { top: -25px; left: 24%; width: 53%; font-size: 22px; margin-bottom: 0px; }
    .red-learn-more { left: 35%; width: 31%; }


    .small-logo .container .b-left { width:48%; }
    .small-logo li a { font-size:14px; }

    .container-neoglory { padding-top: 30px }
    .neo-logo { width:250px; }
    .neo-search { width: 218px; top: 31px; left: 300px; }
    .neo-search input#search { height: 42px; line-height: 42px; font-size: 16px; padding-left:12px; }
    .neo-search button.button {  width: 40px; height: 40px; line-height: 40px }
    .nphone { display:none; top: 21px; left: 516px; }
    .neo-cart { width: 176px; top: 22px; }


    .cctv-alarm { font-size: 44px; }
    .price-cuts { font-size: 24px; }

    .ht-desc { min-height: 104px; font-size:11px; line-height:1.2; }
    .ht-right { padding: 15px 15px 5px 15px; }
    .ht-right h4 { font-size: 14px; }

    .btn-secure { font-size: 14px; }

    .get-in-touch { font-size: 18px; }
    .get-in-touch strong { font-size: 23px; }
    .catttile h2 { font-size: 20px; }
    .pa-area .price-box { font-size: 18px }

    .needhelp { text-align:center; }
    .toplog { text-align:center; }

    .nmain > ul > li { font-size: 12px; }
    .points-top ul li { font-size: 12px; }

    .yellow-line { padding:15px 30px; }
    .get-in-touch { text-align:center; }

    .yellow-line .btn-secure:before { visibility: hidden;	display: block;	font-size: 0;	content: " ";	clear: both;	height: 0; }
    .yellow-line .btn-secure { float:none; margin-top:10px;  }

    .actline { display:block; }

    h1 { font-size: 22px }
    .latest-in h5 { font-size: 20px; }


    .greyopt { margin-bottom:20px; }
    .product-options-bottom .price-box { display:block; float:none; margin-bottom:15px;  }
    .product-options-bottom .add-to-cart { display:block; float:none; margin-bottom:10px; }

    .ybox { margin-bottom:30px; }
    .ybox-available { font-size: 20px; margin-bottom:10px; }
    .ybox-call { font-size: 18px; margin-bottom:10px; }

    #block-related > ul > li { width:50%; margin-bottom:20px; }

    .block-related-products { margin-bottom:0px; }

    .row-footer-3-1 { margin-bottom:30px; }


    .product-options-bottom .price-box .regular-price { font-size: 34px; }

    .a2ok-price { display:block; float:none; margin-bottom:15px;  }
    .a2ok-right  { display:block; float:none; margin-bottom:15px;  }
    .a2ok-price .price { font-size:34px; }

    .htin { height:170px; }

    /* NEW TOOLBAR */
    .showlimit label { display:none; }
    .showlimit .control-location { width:100%; float:none; }
    .soby label { display:none; }
    .soby .control-location { width:76%;  }
    /* // NEW TOOLBAR */

    .whitebread { margin-bottom: 15px; }
    .wideblue h1 { font-size: 24px; margin-bottom: 24px; }
    .secure-lead { padding-top: 20px; padding-left: 0px; }
    .yytt,
    .yytt .ycontact { font-size: 20px; }
    .what-std h2 { font-size: 28px; margin-bottom: 15px; }
    .what-std h3 { font-size: 22px; margin-bottom: 15px; }

    .sub-menu li { font-size: 13px; }

    .catblock dl dt.catblock-image { height: 175px; }

    .small-logo { background-position: 90%; background-color: #0887c2; background-size: 300px; }

} /* Don't delete */

@media (min-width:992px) and (max-width:1199px) {
/* DESKTOP & TABLET VIEWS */

    .neo-cart .cart-area-hovered { width:260px; }

    .company-buttons {}
    .company-buttons a { font-size:15px; padding-left: 13px; padding-right: 13px; }

    .request-a-call-back { top: 270px; left: -16px; }

    .request-a-call-back img { width:50px; }

    .why-choose-ss h5 { top: -30px; left: 26%; width: 46%; }

    #tttabs li a { font-size:15px; }

    .container-neoglory { padding-top: 30px }
    .neo-logo { width:250px; }
    .neo-search { width: 200px; top: 31px; left: 295px; }
    .neo-search input#search { height: 42px; line-height: 42px; font-size: 16px; padding-left:12px; }
    .neo-search button.button {  width: 40px; height: 40px; line-height: 40px }
    .nphone { top: 21px; left: 516px; }
    .neo-cart { width: 176px; top: 22px; }

    .cctv-alarm { font-size: 44px; }
    .price-cuts { font-size: 24px; }

    .ht-desc { min-height: 150px; }
    .ht-right { padding: 15px; }
    .ht-right h4 { font-size: 17px; }

    .btn-secure { font-size: 14px; }

    .get-in-touch { font-size: 19px; }
    .get-in-touch strong { font-size: 25px; }
    .catttile h2 { font-size: 21px; }
    .pa-area .price-box { font-size: 18px }

    .nmain > ul > li { font-size: 12px; }

    /* Show hidden elements */
    .col-relative:hover .product-area { position:absolute; top:0; left:0; right:0; z-index:10; }
    #block-related .col-relative:hover .product-area { position:absolute; top:0; left:15px; right:15px; z-index:10; }
    .col-relative:hover .actline { display:block; }

    .greyopt { margin-bottom:20px; }
    .product-options-bottom .price-box { display:block; float:none; margin-bottom:15px;  }
    .product-options-bottom .add-to-cart { display:block; float:none; margin-bottom:10px; }

    .ybox { margin-bottom:30px; }
    .ybox-available { font-size: 24px; }
    .ybox-call { font-size: 22px; }

    #block-related > ul > li { width:25%; margin-bottom:20px; }

    .a2ok-price { display:block; float:none; margin-bottom:15px;  }
    .a2ok-right  { display:block; float:none; margin-bottom:15px;  }

    .htin { height:226px; }

    .points-top ul li {  margin-right: 15px }
    .whitebread {  margin-bottom: 15px; }
    .wideblue h1 {  font-size: 30px;  margin-bottom: 30px; }

    .secure-lead { padding-top: 20px; padding-left: 0px; }
    .yytt,
    .yytt .ycontact { font-size: 20px; }
    .what-std h2 { font-size: 28px; margin-bottom: 15px; }
    .what-std h3 { font-size: 22px; margin-bottom: 15px; }

    .nmain > ul > li.n-shop > a { padding-top: 12px; }
    .sub-menu li { font-size: 14px; }

    .catblock dl dt.catblock-image { height: 175px; }

    .small-logo { background-position: 90%; background-color: #0887c2; background-size: 300px; }

} /* Don't delete */

@media (min-width:1200px) {
	/* LARGE DESKTOP & TABLET VIEW */
	.row-footer-3-1 { padding-right:30px; padding-left:30px; }
	.row-footer-3-2 { border-left:1px solid #252525; border-right:1px solid #252525; min-height:128px; }

	/* Show hidden elements */
	.col-relative:hover .product-area { position:absolute; top:0; left:0; right:0; z-index:10; }
	#block-related .col-relative:hover .product-area { position:absolute; top:0; left:15px; right:15px; z-index:10; }
	.col-relative:hover .actline { display:block; }

	.product-img-box { padding-right:30px; }
	.non-achor .ht-right h4 { font-size:30px; }
	.htin { height:284px; }
	.narrowpage .container { padding-left:110px; padding-right:110px; }

	.neo-search { display: block; width: 280px; }
	.nphone { left: 714px; }
	.nmain > ul > li { font-size: 13px; }
} /* Don't delete */


@media (min-width:1280px) {
	.container { width:1400px; } /* 1250px */
	.nphone { left: 914px; }
	.neo-search { display: block; width: 480px; }
} /* Don't delete */
