/* font-family: 'Roboto Slab', serif; */
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/robotoslab/robotoslab-thin-webfont.eot');
    src: url('../fonts/robotoslab/robotoslab-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab/robotoslab-thin-webfont.woff2') format('woff2'),
         url('../fonts/robotoslab/robotoslab-thin-webfont.woff') format('woff'),
         url('../fonts/robotoslab/robotoslab-thin-webfont.ttf') format('truetype'),
         url('../fonts/robotoslab/robotoslab-thin-webfont.svg#roboto_slabthin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/robotoslab/robotoslab-light-webfont.eot');
    src: url('../fonts/robotoslab/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab/robotoslab-light-webfont.woff2') format('woff2'),
         url('../fonts/robotoslab/robotoslab-light-webfont.woff') format('woff'),
         url('../fonts/robotoslab/robotoslab-light-webfont.ttf') format('truetype'),
         url('../fonts/robotoslab/robotoslab-light-webfont.svg#roboto_slablight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/robotoslab/robotoslab-regular-webfont.eot');
    src: url('../fonts/robotoslab/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab/robotoslab-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotoslab/robotoslab-regular-webfont.woff') format('woff'),
         url('../fonts/robotoslab/robotoslab-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotoslab/robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/robotoslab/robotoslab-bold-webfont.eot');
    src: url('../fonts/robotoslab/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab/robotoslab-bold-webfont.woff2') format('woff2'),
         url('../fonts/robotoslab/robotoslab-bold-webfont.woff') format('woff'),
         url('../fonts/robotoslab/robotoslab-bold-webfont.ttf') format('truetype'),
         url('../fonts/robotoslab/robotoslab-bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: 700;
    font-style: normal;
}