<!doctype html>
<html lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>

<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>

<?php // Mobile Menus
	echo $this->getLayout()->createBlock('core/template')->setTemplate('page/html/mobile.phtml')->toHtml();
?>

<div id="globalwrapper" class="container">

<?php echo $this->getChildHtml('global_notices') ?>


<?php echo $this->getChildHtml('header') ?>

<div id="maincontent">
    
    <?php echo $this->getChildHtml('breadcrumbs') ?>
    
    <div class="col-main">

        <h1><?php echo Mage::getSingleton('catalog/layer')->getCurrentCategory()->getName() ?></h1>
        
        <hr>


        <?php $_helper = Mage::helper('catalog/category') ?>
            <?php $_categories = $_helper->getStoreCategories() ?>
            <?php if (count($_categories) > 0): ?>
                <ul>
                    <li>Categories:</li>
                    <li><a href="<?php echo Mage::getUrl('collections'); ?>">View All</a></li>
                    <?php foreach($_categories as $_category): ?>
                        <li<?php echo in_array($_category->getId(), Mage::registry('current_category')->getPathIds()) ? ' class="active"' : '' ?>> <!--  class="active" -->
                            <a href="<?php echo $_helper->getCategoryUrl($_category) ?>">
                                <?php echo $_category->getName() ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>


        <div class="category-container">
        <?php echo $this->getChildHtml('global_messages') ?>
        <?php echo $this->getChildHtml('content') ?>
        </div><!-- /category-container -->
    </div><!-- /col-main -->
 

</div>

<?php echo $this->getChildHtml('footer') ?>

<?php echo $this->getChildHtml('global_cookie_notice') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>

</div> <!-- /wrapper -->

</body>
</html>

 