<?php /* 

<reference name="root">
	<action method="setTemplate"><template>page/1column-home.phtml</template></action>
</reference>

<reference name="content"> <!-- Your Recently Viewed Items on Home -->
	<block type="catalog/product_new" name="home.catalog.product.new" alias="product_new" template="catalog/product/new.phtml" after="cms_page">
		<action method="addPriceBlockType">
			<type>bundle</type>
			<block>bundle/catalog_product_price</block>
			<template>bundle/catalog/product/price.phtml</template>
		</action>
	</block>
	<block type="reports/product_viewed" name="home.reports.product.viewed" alias="product_viewed" template="reports/home_product_viewed.phtml" after="product_new">
		<action method="addPriceBlockType">
			<type>bundle</type>
			<block>bundle/catalog_product_price</block>
			<template>bundle/catalog/product/price.phtml</template>
		</action>
	</block>
	<block type="reports/product_compared" name="home.reports.product.compared" template="reports/home_product_compared.phtml" after="product_viewed">
		<action method="addPriceBlockType">
			<type>bundle</type>
			<block>bundle/catalog_product_price</block>
			<template>bundle/catalog/product/price.phtml</template>
		</action>
	</block>
</reference>

<reference name="right">
	<action method="unsetChild"><alias>right.reports.product.viewed</alias></action>
	<action method="unsetChild"><alias>right.reports.product.compared</alias></action>
</reference>
	
*/ ?>

<!doctype html>
<html lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>

<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>

<?php // Mobile Menus
	echo $this->getLayout()->createBlock('core/template')->setTemplate('page/html/mobile.phtml')->toHtml();
?>

<div id="globalwrapper">

<?php echo $this->getChildHtml('after_body_start') ?>
<?php echo $this->getChildHtml('global_notices') ?>

<?php echo $this->getChildHtml('header') ?>

<div id="maincontent" class="container">
 
    <?php echo $this->getChildHtml('breadcrumbs') ?>
    
    <div class="col-main">
        <?php echo $this->getChildHtml('global_messages') ?>
        <?php echo $this->getChildHtml('content') ?>
    </div><!-- /col-main -->

</div><!-- /container -->

<?php echo $this->getChildHtml('footer') ?>

<?php echo $this->getChildHtml('global_cookie_notice') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>

</div> <!-- /wrapper -->
</body>
</html>

 