<!doctype html>
<html lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>

<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>

<?php // Mobile Menus
	echo $this->getLayout()->createBlock('core/template')->setTemplate('page/html/mobile.phtml')->toHtml();
?>

<div id="globalwrapper">

<?php echo $this->getChildHtml('after_body_start') ?>
<?php echo $this->getChildHtml('global_notices') ?>

<?php echo $this->getChildHtml('header') ?>

<div id="maincontent">
 
    <?php // echo $this->getChildHtml('breadcrumbs') ?>
    
    <div class="col-main">
    	<div class="container">
        	<?php echo $this->getChildHtml('global_messages') ?>
        </div>
        <div>
	        <?php echo $this->getChildHtml('content') ?>
        </div>
    </div><!-- /col-main -->
 
<?php echo $this->getChildHtml('footer') ?>

<?php echo $this->getChildHtml('global_cookie_notice') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>

</div>

</div> <!-- /wrapper -->
</body>
</html>

 