<!--
##########################################
/catalog/category/view-main-category.phtml
##########################################
-->
<div class="hcat-area">

<?php $_helper = Mage::helper('catalog/category') ?>
	<?php $_categories = $_helper->getStoreCategories() ?>
	<?php $currentCategory = Mage::registry('current_category') ?>
	<?php if (count($_categories) > 0): ?>
		<div class="row">
			<?php foreach ($_categories as $_category): ?>

				<?php /*
				<li>
					<a href="<?php echo $_helper->getCategoryUrl($_category) ?>">
						<?php echo $_category->getName() ?>
					</a>
				*/ ?>

					<?php if ($currentCategory && $currentCategory->getId() == $_category->getId()): ?>
					<?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
						<?php $_subcategories = $_category->getChildrenCategories() ?>
						<?php if (count($_subcategories) > 0): ?>
						<!-- <ul> -->
								<?php foreach ($_subcategories as $_subcategory): ?>
								<div class="col-sm-6 col-md-6 col-id-<?php echo $_subcategory->getId(); ?>">

									<div class="ht-product">
										<div class="ht-left">
                                        	<?php
												$subcat_image = Mage::getModel('catalog/category')->load($_subcategory->getId());
												$subImageUrl = $subcat_image->getImageUrl();
											?>
											<?php if($subImageUrl){?>
                                                <a class="htin" href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>"><img src="<?php echo $subImageUrl; ?>" alt="<?php echo $_subcategory->getName() ?>"></a>
                                            <?php } else { ?>
                                            	<a class="htin" href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>"><img src="<?php echo $this->getSkinUrl('images/no-image.jpg') ?>" alt="<?php echo $_subcategory->getName() ?>" /></a>
                                            <?php } ?>

										</div>
										<div class="ht-right">
											<div class="ht-desc">
												<h4><?php echo $_subcategory->getName() ?></h4>
												<?php // echo $_subcategory->getDescription(); ?>
											</div><!-- /ht-desc -->
											<div class="ht-bottom-shop">
												<a class="btn-secure" href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>">Shop Now &gt;</a>
											</div>
										</div><!-- /ht-right -->
										<div class="clearfix"></div>
									</div><!-- /ht-product -->

								</div><!-- /col -->
						<?php endforeach; ?>
						<!-- </ul> -->
				<?php endif; ?>
				<?php endif; ?>
				<!--  </li> -->
		<?php endforeach; ?>
		</div> <!-- /row -->
	<?php endif; ?>

</div><!-- /hcat-area -->


<div class="yellow-line">
    <div class="get-in-touch">
        <strong>Get in Touch:</strong> Contact us today for a FREE Quote
        <a class="btn-secure" href="/contacts">Contact Us &gt;</a>
    </div><!-- /get-in-touch -->
    <div class="clearfix"></div>
</div><!-- /yellow-line -->


<div class="row">

    <div class="col-md-6">
        <div class="latest-bb">
            <a class="latest-bb-img" href="<?php echo Mage::getUrl('installation'); ?>"><img src="<?php echo $this->getSkinUrl('images/temp/shutterstock_204002785.jpg') ?>" alt=""/></a>
            <div class="latest-in">
                <h5>Need installation?</h5>
                <div class="latest-in-desc"><p>Simply Secure are able to offer a full installation service, if it's a small item for your house or a large commercial construction project, we have a proven track record and portfolio to reassure our clients that they will receive the best possible quality of work and attention to detail.</p></div>
                <div><a class="btn-secure" href="<?php echo Mage::getUrl('installation'); ?>">Find out More &gt;</a></div>
            </div><!-- /latest-in -->
        </div><!-- /latest-bb -->
    </div><!-- /col -->

    <div class="col-md-6">
        <div class="latest-bb">
            <a class="latest-bb-img" href="<?php echo Mage::getUrl('service-and-repair'); ?>"><img src="<?php echo $this->getSkinUrl('images/temp/blog-gates.jpg') ?>" alt=""/></a>
            <div class="latest-in">
                <h5>Service, Maintenance and Repairs</h5>
                <div class="latest-in-desc"><p>At Simply Secure we offer both new and existing customers the highest level of ongoing support, service and maintenance.</p></div>
                <div><a class="btn-secure" href="<?php echo Mage::getUrl('service-and-repair'); ?>">Find out More &gt;</a></div>
            </div><!-- /latest-in -->
        </div><!-- /latest-bb -->
    </div><!-- /col -->

</div><!-- /row -->
