<div class="security-banners">

    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('hp-slides')->toHtml(); ?>


    
    <?php /*
    <div class="ttt-container" id="tttab-4C">
        <a href="<?php echo Mage::getUrl('otec-diamond-blades'); ?>"><img class="img-responsive" src="<?php echo $this->getSkinUrl('images/hp_slider/Diamond-Blade-Specialist-Otec.jpg') ?>" alt="" /></a>
    </div>
    */ ?>

    <div class="container container-tttbottom">

    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('hp-slides-navigation')->toHtml(); ?>

    </div><!-- /container -->

  <div class="clearfix"></div>

</div><!-- /security-banners -->


<div class="container homepage-container">


<div class="htop-products">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('ht-products')->toHtml(); ?>
	<?php /*<div class="row">

    	<div class="col-sm-6">
        	<div class="ht-product ht-product-brown">
            	<div class="ht-left">
                	<a href="#"><img src="<?php echo $this->getSkinUrl('images/temp/product-transparent.png') ?>" alt=""/></a>
                    <span class="stamp"><img src="<?php echo $this->getSkinUrl('images/stamp-best-seller.png') ?>" alt=""/></span>
                </div>
            	<div class="ht-right">
                	<div class="ht-desc">
                        <h4>Security Posts & Banners</h4>
                        <div>Simply Secure provide a comprehensive range of automatic and static bollards, telescopic bollards, telescopic parking posts, fold down parking posts, removable parking posts and hoop barriers.</div>
                    </div><!-- /ht-desc -->
                    <div class="ht-bottom-shop">
                    	<a class="btn-secure" href="/steel-bollards-security-posts-hoop-barriers.html">Shop Now &gt;</a>
                    </div>
                </div><!-- /ht-right -->
                <div class="clearfix"></div>
            </div><!-- /ht-product -->
        </div><!--/col -->

        <div class="col-sm-6">
        	<div class="ht-product">
            	<div class="ht-left">
                	<a href="#"><img src="<?php echo $this->getSkinUrl('images/carlton-square-top.jpg') ?>" alt=""/></a>
                </div>
            	<div class="ht-right">
                	<div class="ht-desc">
                        <h4>Ready made Gates & Railings</h4>
                        <div>Simply secure provide a range of quality ready made steel, aluminium and wood gates and rails.</div>
                    </div><!-- /ht-desc -->
                    <div class="ht-bottom-shop">
                    	<a class="btn-secure" href="/ready-made-gates-and-railings.html">Shop Now &gt;</a>
                    </div>
                </div><!-- /ht-right -->
                <div class="clearfix"></div>
            </div><!-- /ht-product -->
        </div><!--/col -->

    </div><!--/row -->
    */ ?>
</div><!--/htop-products -->


<div class="ht123">
    <h1 class="hometitleline"><span class="subtitleblack">Industry leading</span> suppliers & installers</h1>
    <p>Simply Secure are recommended and approved suppliers and installers for gate automation, roller garage doors and shutters, intercom systems, automatic bollards and barriers and security fencing for industry leading manufacturers such as Centurion, DEA, SEA, BFT, BPT, Fadini, Videx and Aluroll to name but a few.</p>
</div><!-- /ht123 -->

<div class="row">

	<div class="col-md-6">
    	<div class="latest-bb">
        	<a class="latest-bb-img" href="<?php echo Mage::getUrl('installation'); ?>"><img src="<?php echo $this->getSkinUrl('images/temp/shutterstock_204002785.jpg') ?>" alt=""/></a>
            <div class="latest-in">
            	<h5>Need installation?</h5>
                <div class="latest-in-desc"><p>Simply Secure are able to offer a full installation service, if it's a small item for your house or a large commercial construction project, we have a proven track record and portfolio to reassure our clients that they will receive the best possible quality of work and attention to detail.</p></div>
                <div><a class="btn-secure" href="<?php echo Mage::getUrl('installation'); ?>">Find out More &gt;</a></div>
            </div><!-- /latest-in -->
        </div><!-- /latest-bb -->
    </div><!-- /col -->

	<div class="col-md-6">
    	<div class="latest-bb">
        	<a class="latest-bb-img" href="<?php echo Mage::getUrl('service-and-repair'); ?>"><img src="<?php echo $this->getSkinUrl('images/temp/blog-gates.jpg') ?>" alt=""/></a>
            <div class="latest-in">
            	<h5>Service, Maintenance and Repairs</h5>
                <div class="latest-in-desc"><p>At Simply Secure we offer both new and existing customers the highest level of ongoing support, service and maintenance.</p></div>
                <div><a class="btn-secure" href="<?php echo Mage::getUrl('service-and-repair'); ?>">Find out More &gt;</a></div>
            </div><!-- /latest-in -->
        </div><!-- /latest-bb -->
    </div><!-- /col -->

</div><!-- /row -->

<div class = "ssbb">
  <div class = "row">
    <div class = "col-sm-2">
      <a href = "https://www.justgiving.com/fundraising/undefined-undefined4" target = "_blank"><img class = "img-responsive" style="width:50%; float: right;" src="<?php echo $this->getSkinUrl('images/ssbb-logo-sm.png') ?>"></a>
    </div>
    <div class = "col-sm-9">
      <h2><a style="font-size:28px;" href = "https://www.justgiving.com/fundraising/undefined-undefined4" target = "_blank">Proud supporters of Shropshire, Staffordshire and Cheshire Blood Bikes</a></h2>
    </div>
  </div>
</div>

<div class="yellow-line">
	<div class="get-in-touch">
    	<strong>Get in touch</strong> - Contact us today for a FREE Quote
        <a class="btn-secure" href="/contacts">Contact Us &gt;</a>
    </div><!-- /get-in-touch -->
    <div class="clearfix"></div>
</div><!-- /yellow-line -->


<div class="catttile">
	<h2>Shop by Category</h2>
</div><!-- /catttile -->

<div class="hcat-area">
    <div class="row">

		<?php $_helper = Mage::helper('catalog/category') ?>
        <?php $_categories = $_helper->getStoreCategories() ?>
        <?php if (count($_categories) > 0): ?>

			<?php
                foreach($_categories as $_category):
                $cur_category=Mage::getModel('catalog/category')->load($_category->getId());
                $cur_image=Mage::getModel('catalog/category')->load($_category->getImage());
            ?>

            <div class="col-sm-6 col-md-6 col-id-<?php echo $cur_category->getId(); ?>">


                <div class="ht-product">
                    <div class="ht-left">
                        <a href="<?php echo $_helper->getCategoryUrl($_category) ?>"><img src="<?php echo $cur_category->getImageUrl(); ?>"></a>
                    </div>
                    <div class="ht-right">
                        <div class="ht-desc">
                            <h4><?php echo $_category->getName() ?></h4>
                            <div>
								<?php // echo substr($cur_category->getDescription(),0,250); ?>

                                <?php
									$cat_excerpt = $cur_category->getDescription();
									$cat_excerpt_url = $cur_category->getUrl();
								?>
								<?php
                                    $count_str = strlen($cat_excerpt);
                                    if ($count_str < 50) {
                                    echo $cat_excerpt;
                                    } else {
                                        $offset = 0;
                                        $length = 190;
                                        $cat_excerpt = html_entity_decode($cat_excerpt);
										// as HTML
                                        // echo htmlentities(mb_substr($cat_excerpt,0,$length,'utf-8')). "...";;
										// as plain text
										echo mb_substr($cat_excerpt,0,$length,'utf-8'). "...";
										// echo mb_substr($cat_excerpt,0,$length,'utf-8'). ' [<a href="'.$cat_excerpt_url.'">...</a>]';
                                    }
                                ?>

                            </div>
                        </div><!-- /ht-desc -->
                        <div class="ht-bottom-shop">
                            <a class="btn-secure" href="<?php echo $_helper->getCategoryUrl($_category) ?>">Shop Now &gt;</a>
                        </div>
                    </div><!-- /ht-right -->
                    <div class="clearfix"></div>
                </div><!-- /ht-product -->


            </div><!-- /col -->
            <?php endforeach; ?>

        <?php endif; ?>


    </div><!-- /row -->
</div><!-- /hcat-area -->

<?php /*
<div class="catttile">
	<h2>Top Picks</h2>
</div><!-- /catttile -->

<div class="hpicks-area">
	/catalog/product/list-featured.phtml
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('featured_product')->toHtml(); ?>
</div><!-- /hpicks-area -->
*/ 
?>
<div class="why-choose-ss">
  <h5>Why choose Simply Secure?</h5>
  <div class="row">
  <div class="col-sm-6 why-choose"><span class="why-choose-title"><i class="fa fa-check-square-o"></i> High Standards</span>
    <p>From initial inquiry to service, our products and workmanship are of the highest possible standards.</p>
  </div>
  <div class="col-sm-6 why-choose"><span class="why-choose-title"><i class="fa fa-gbp"></i> Competitive Pricing</span>
  <p>We will aim to beat any quote to ensure that our prices remain competitive.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 why-choose"><span class="why-choose-title"><i class="fa fa-home"></i> Residential Manufacturing</span>
    <p>From driveway gates and railings to more elaborate estate designs, we are able to produce items to meet individual requirements.</p>
  </div>
  <div class="col-sm-6 why-choose"><span class="why-choose-title"><i class="fa fa-pencil-square-o"></i> DIY Installation Kits</span>
  <p>Gates, railings, gate automation kits and intercoms are available for DIY installation by request. Please contact us for details.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 why-choose"><span class="why-choose-title"><i class="fa fa-building-o"></i> Commercial Manufacturing</span>
    <p>We manufacture and install heavy duty commercial gates, access control, intercoms, fencing and barriers.</p>
  </div>
  <div class="col-sm-6 why-choose"><span class="why-choose-title"><i class="fa fa-map-marker"></i> Conveniently Located</span>
  <p>Based in Shropshire, Simply Secure provides service, supply, delivery and installation throughout the UK.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 why-choose"><span class="why-choose-title"><i class="fa fa-thumbs-up"></i> Approved Installers</span>
    <p>We are recommended and approved installers for industry leading manufacturers.</p>
  </div>
  <div class="col-sm-6 why-choose"><span class="why-choose-title"><i class="fa fa-briefcase"></i> Our Portfolio</span>
  <p>Simply Secure is proud to share our extensive portfolio, along with our client references.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 why-choose"><span class="why-choose-title"><i class="fa fa-user"></i> Customer Service</span>
    <p>We would be delighted to offer free advice and assistance in the selection of equipment.</p>
  </div>
</div>
</div><!-- /why-choose-ss -->

</div><!-- /container homepage-container -->
