<!-- template/catalog/navigation/leftnav.phtml -->
<?php /*
<div class="block block-leftnav">
    <div class="block-title">
    <h4><?php echo $this->__('All Categories') ?></h4>
    </div>
    <div class="block-content">
        <ul>
			<?php foreach ($this->getStoreCategories() as
            $_category): ?>
            <?php if($_category->name!=""): ?>
            <?php echo $this->drawItem($_category) ?>
            <?php endif?>
            <?php endforeach ?>
        </ul>
    </div>
</div>
*/ ?>