<div id="carousel-about" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-about" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-about" data-slide-to="1"></li>
    <li data-target="#carousel-about" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="img-responsive" src="<?php echo $this->getSkinUrl('images/gate1.jpg') ?>" alt="" />
    </div>
    <div class="item">
      <img class="img-responsive" src="<?php echo $this->getSkinUrl('images/fence-summer-photo-city-bokeh-lights-macro-hd-wallpaper.jpg') ?>" alt="" />
    </div>
    <div class="item">
      <img class="img-responsive" src="<?php echo $this->getSkinUrl('images/bike.jpg') ?>" alt="" />
    </div>
    
   </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>