<?php //  {{block type="core/template" template="cms/what-we-do.phtml"}} ?>

<?php $current_content = Mage::getSingleton('cms/page')->getContent(); ?>
<?php $current_title = Mage::getSingleton('cms/page')->getTitle(); ?>
<?php preg_match_all('/<div class=\"top\-text\">(.*?)<\/div>/s',$current_content,$top_content); ?>
<?php preg_match_all('/<div class=\"bottom\-text\">(.*?)<\/div>/s',$current_content,$bottom_content); ?>
<div class="narrowpage">

    <div class="wideblue">
        <div class="container">
            <nav class="whitebread">
                <ul>
                    <li>Home</li>
                    <li>Products</li>
                    <li><?php echo $current_title; ?></li>
                </ul>
                <div class="clearfix"></div>
            </nav>
            <h1><?php echo $current_title; ?></h1>
        </div><!-- /container -->
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <section class="carousel-what">
                    <?php echo $this->getLayout()->createBlock('catalog/product')->setTemplate('cms/carousel-what-we-do.phtml')->toHtml(); ?>
                </section>
            </div><!-- /col -->
            <div class="col-md-6">
                <section class="secure-lead">
                    <?php echo $top_content[1][0]; ?>
                </section>
            </div><!-- /col -->
        </div><!-- /row -->

        <section class="yellowbtn">
        	<ul>
        		<li>
                	<div class="yytt"><strong class="ycontact">Contact</strong> us for more details on <strong>01952 740308</strong> or use the enquiry form</div>
                </li>
        		<li><a class="btnb" href="<?php echo Mage::getUrl('contacts');?>">Enquiry Form &gt;</a></li>
        	</ul>
        	<div class="clearfix"></div>
        </section>

        <article class="what-std">
          <?php echo $bottom_content[1][0]; ?>
        </article><!-- /what-std -->


        <section class="yellowbtn">
        	<ul>
        		<li>
                	<div class="yytt"><strong class="ycontact">Contact</strong> us for more details on <strong>01952 740308</strong> or use the enquiry form</div>
                </li>
        		<li><a class="btnb" href="<?php echo Mage::getUrl('contacts');?>">Enquiry Form &gt;</a></li>
        	</ul>
        	<div class="clearfix"></div>
        </section>

    </div><!-- /container -->

</div><!-- /narrowpage -->
