<?php /*
<div class="page-title category-title">
        <h1>Online Shop</h1>
</div>
*/ ?>

<div class="shop-category-intro">
	<p>Our online shop gives you the opportunity to browse the products available to order and have delivered straight to your door. You can the install these products yourself or contact us through this website for quotes to have us fit the products for you. We deal with suppliers directly, to give you a hassle free service where everything is in one place.</p>
</div>

<?php $_helper = Mage::helper('catalog/category') ?>
<?php $_categories = $_helper->getStoreCategories() ?>
<?php if (count($_categories) > 0): ?>
    <div class="row">
        <?php foreach($_categories as $_category): ?>
            <?php
              $image_url = Mage::getModel('catalog/category')->load( $_category->getId())->getImageUrl();
            ?>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="catblock">
              		 <dl>
					  <dt class="catblock-image"><a href="<?php echo $_helper->getCategoryUrl($_category) ?>"><?php if($image_url) { ?><img src="<?php echo $image_url; ?>" alt="" /><?php } else { ?><img src="<?php echo $this->getSkinUrl('images/no-image.jpg') ?>" alt="" /> <?php } ?></a></dt>
					  <dd class="catblock-name"><a href="<?php echo $_helper->getCategoryUrl($_category) ?>"><?php echo $_category->getName() ?></a></dd>
					</dl> 
				</div>
            </div><!-- /col -->
        <?php endforeach; ?>
</div><!-- /row -->
<?php endif; ?>