<!-- cms/order-tracking.php -->

<div class="track-form">
    <div class="row">
    
        <div class="col-sm-6">
            <div class="form-group">
                <label>Order ID:</label>
                <input type="email" class="form-control" placeholder="Found in your order confirmation email.">
            </div><!-- /form-group -->
        </div><!-- /col -->
    
        <div class="col-sm-6">
            <div class="form-group">
                <label>Billing Email:</label>
                <input type="email" class="form-control" placeholder="Email you used during checkout.">
            </div><!-- /form-group -->
        </div><!-- /col -->
    
    </div><!-- /row -->
</div>

<p><button class="btn-secure" type="submit">TRACK</button> </p>
