<?php // Create a CMS block and then declare it:
// echo $this->getChildHtml('topbar_cmslinks') ?>

<div class="welcome-msg"><?php echo $this->getChildHtml('welcome') ?> <?php echo $this->getAdditionalHtml() ?></div>

<header class="mobile-header visible-xs">

 <div class="mob-menu-cart">
    <div class="mob-menu">
        <a href="javascript:void(0);" class="nav-toggler toggle-push-left"><span class="glyphicon glyphicon-menu-hamburger mob-hamburger"></span></a>
    </div><!-- /mob-menu -->

    <div class="mob-cart">
        <a href="javascript:void(0);" class="nav-toggler toggle-push-right">
            <span class="glyphicon glyphicon-shopping-cart mob-whitecart"></span>
            <small>
                View Basket
                <?php
                $count = $this->helper('checkout/cart')->getSummaryCount();  //get total items in cart
                if($count==0)
                {
                    echo $this->__('',$count);
                }
                if($count==1)
                {
                    echo $this->__('(1)',$count);
                }
                if($count>1)
                {
                    echo $this->__('(%s)',$count);
                }
                ?>
            </small>
        </a>
    </div><!--/mob-cart -->
    <div class="clearfix"></div>
</div><!-- /mob-menu-cart -->


<div class="logo-mobile">
 	<?php if ($this->getIsHomePage()):?>
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
    <?php else:?>
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
    <?php endif?>
</div><!-- /row -->


<?php
function isMobile() {
    return preg_match("/(android|avantgo|blackberry|bolt|boost|cricket|docomo|fone|hiptop|mini|mobi|palm|phone|pie|tablet|up\.browser|up\.link|webos|wos)/i", $_SERVER["HTTP_USER_AGENT"]);
}
?>
<?php if(isMobile()) { ?>
<div class="mobilesearch ">
<?php echo $this->getChildHtml('topSearch') ?>
</div>
<?php } ?>




</header><!-- /mobile-header -->


<header class="desktop-header hidden-xs">

<div class="headblue">
	<div class="container">
    	<div class="row">
        	<div class="col-md-5">
            	<div class="needhelp"><strong>Need help?</strong> Get in touch using our <a href="<?php echo Mage::getUrl('contacts'); ?>">enquiry form</a></div>
            </div>
            <div class="col-md-7">
            	<div class="toplog">
                	<ul>
                        <?php if (! Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                            <li><a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo $this->__('Log in') ?></a><span>|</span></li>
                            <li><a href="<?php echo Mage::getUrl('customer/account'); ?>"><?php echo $this->__('My Account') ?></a><span>|</span></li>
                        <?php else: ?>
                        	<li><a href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>"><?php echo $this->__('Sign Out') ?></a><span>|</span></li>
                            <li><a href="<?php echo Mage::getUrl('customer/account'); ?>"><?php echo $this->__('My Account') ?></a><span>|</span></li>
                        <?php endif; ?>
                        <li><a href="<?php echo $this->getUrl('wishlist') ?>"><?php echo $this->__('My Wishlist') ?></a><span>|</span></li>
                        <li><a href="<?php echo $this->getUrl('checkout/cart'); ?>"><?php echo $this->__('Checkout') ?></a><span>|</span></li>
                        <li><a href="<?php echo Mage::getUrl('contacts');?>"><?php echo $this->__('Contact') ?></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /headblue -->

<?php echo $this->getChildHtml('store_language') ?>
<?php echo $this->getChildHtml('custom_currency_selector') ?>


<div class="container container-neoglory">

	<div class="neo-logo">
    	<?php if ($this->getIsHomePage()):?>
        	<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
		<?php else:?>
            <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
        <?php endif?>
    </div><!-- /col -->

	<div class="neo-search">
		<?php // echo $this->getChildHtml('topLinks') ?>
		<?php echo $this->getChildHtml('topSearch') ?>
		<?php // echo $this->getChildHtml('topContainer'); ?>
    </div><!-- /col -->

    <div class="nphone">
        <div class="nphone-1"><strong>01952 740308</strong></div>
        <div class="nphone-2"><span><strong>Mon- Sat</strong> 8.00am - 5.00pm</span></div>
    </div>


    <div class="neo-cart" style="cursor:pointer;" onclick="javascript:window.location.href='<?php echo Mage::helper('checkout/cart')->getCartUrl(); ?>'; return false;">
		<?php echo $this->getChildHtml('top_cart') ?>

    </div>
    <p style="position: absolute; right: 180px;">Prices shown are EX Vat and Carriage</p>
</div><!-- /container -->

</header><!-- /desktop-header -->

<div class="nline hidden-xs">
	<div class="container">
    	<nav class="nmain">
        	<ul class="clearfix">
            	<li class="n-shop">
            		<?php // <a href="#">Simply Shop Direct<span class="arrow-black"></span></a> ?>

            		 <a href="<?php echo Mage::getModel('catalog/category')->load(95)->getUrl(); ?>">
            		 	 Simply Secure Direct
						 <small class="hidden-sm">Online shop <span class="glyphicon glyphicon-shopping-cart"></span></small>
           		     </a>

           		     <div class="submain">
						<div class="shop-by-department">Shop by Department</div>
						<?php echo $this->getChildHtml('topMenu') ?>
					 </div>

            	</li>
              <li>
                <a class="products-dropdown" href="#">Products</span></a>
                <ul class="sub-menu">
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(20) ?>">Awning Brackets and Sign and Canopy Brackets</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(32) ?>">CCTV</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(23) ?>">Estate Railings, Paddock Fencing and Tree Guards</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(17) ?>">Gates and Railings</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(21) ?>">Gate Automation and Electric Gates</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(30) ?>">Aluminum Gates</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(29) ?>">GSM Intercom Systems</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(25) ?>">Intercom and Access Control</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(19) ?>">Ready-Made Gates and Railings</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(22) ?>">Roller Garage Doors</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(26) ?>">Security Roller Shutters</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(31) ?>">Service, Maintenance and Repairs</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(24) ?>">Steel bollards, posts and hoop barriers</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(28) ?>">Steel Framed and Timber Clad Gates</a></li>
                  <li class="col-sm-4"><a href="<?php echo Mage::helper('cms/page')->getPageUrl(18) ?>">Traffic Barriers and Vehicle Access Gates</a></li>
                </ul>
              </li>

            	<li><a href="<?php echo Mage::getUrl('installation'); ?>">Installation</a></li>
              <li><a href="<?php echo Mage::getUrl('service-and-repair'); ?>">Maintenance & Repair</a></li>
            	<li><a href="<?php echo Mage::getUrl('system-safety-testing-risk-assessment'); ?>">System Safety Testing</a></li>
            	<li class="n-about"><a href="<?php echo Mage::getUrl('who-we-are'); ?>">About us <span class="arrow-about"></span></a></li>
            	<!--<li><a href="<?php echo Mage::getUrl('case-studies'); ?>">Case Studies</a></li>-->
            	<li><a href="<?php echo Mage::getUrl('gallery'); ?>">Image Gallery</a></li>
            </ul>

           <?php /*
            <div class="submain">
                <div class="shop-by-department">Shop by Department</div>
                <?php echo $this->getChildHtml('topMenu') ?>
             </div>
			 */ ?>


            <?php /*
			<!-- Navigation -->
			<div class="well-menu">
				<nav class="navbar navbar-default hidden-xs" role="navigation">
					<div class="container relative">
						  <?php echo $this->getChildHtml('topMenu') ?>
					</div>
				</nav>
			</div>
			*/ ?>
            <div class="clearfix"></div>
        </nav>
	</div><!-- /container -->
</div><!-- /nline -->

<div class="covidbox">
	<div class="container">
		<div class="title">
			<strong>**** COVID and SHIPPING NOTICE ****</strong>
		</div>
		<div class="description">
			Some items/orders may possibly be subject to delays/extended delivery times further to COVID restrictions and extended shipping/re-stock schedules.
			Items may occasionally be listed as 'in stock' but may be awaiting shipment/arrival from the wholesaler/supplier.
			We endeavour to keep the site updated, and aim to process orders as soon as possible.
			Please contact us directly if you would like further information on this regarding a particular product/stock status.
			If a placed order is subject to delays beyond an acceptable timeframe, we will gladly refund your purchase/order transaction in full.
			<strong>Thank you for your understanding in this matter.</strong>
		</div>
	</div>	
</div>


