<nav class="menu slide-menu-left">
    <button class="close-menu"><span class="fa fa-close"></span></button>
</nav><!-- /slide menu left -->

<nav class="menu slide-menu-right">
    <button class="close-menu"><span class="fa fa-close"></span></button>
</nav><!-- /slide menu right -->

<nav class="menu slide-menu-top">
    <button class="close-menu"><span class="fa fa-close"></span></button>
</nav><!-- /slide menu top -->

<nav class="menu slide-menu-bottom">
    <button class="close-menu"><span class="fa fa-close"></span></button>
</nav><!-- /slide menu bottom -->

<nav class="menu push-menu-left">
    
    <button class="close-menu"><span class="fa fa-close"></span></button>
    
    <div class="clickable-mobile">
 
    <div id="mobile-menu">
    	
        <div class="mobmenulogo"><a href="<?php echo Mage::getUrl(''); ?>"><img src="<?php echo $this->getSkinUrl('images/logo.png') ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></div>
    	
        <ul>             
            
        	<li><a href="<?php echo $this->getUrl('') ?>">Home</a></li>
 
			<?php // Display Top Level Categories and ALL Subcategories ?>
            <?php $_helper = Mage::helper('catalog/category') ?>
            <?php $_categories = $_helper->getStoreCategories() ?>
            <?php $currentCategory = Mage::registry('current_category') ?>
            <?php if (count($_categories) > 0): ?>
                <!-- <ul> -->
                <li>
                    <a href="/online-shop.html">
                        Online Shop
                    </a>
                    <?php foreach($_categories as $_category): ?>
                    <ul>
                        <li>
                            <a href="<?php echo $_helper->getCategoryUrl($_category) ?>">
                                <?php echo $_category->getName() ?>
                            </a>
                            <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
                            <?php $_subcategories = $_category->getChildrenCategories() ?>
                            <?php if (count($_subcategories) > 0): ?>
                                <ul>
                                    <?php foreach($_subcategories as $_subcategory): ?>
                                        <li>
                                            <a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>">
                                                <?php echo $_subcategory->getName() ?>
                                            </a>
                                        </li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </li>
                    </ul>
                    <?php endforeach; ?>
                </li>
                <!-- </ul> -->
            <?php endif; ?>
              <li>
                <a class="unclikable" href="/awning-brackets-and-sign-and-canopy-brackets">Products</span></a>
                <ul>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(20) ?>">Awning Brackets and Sign and Canopy Brackets</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(32) ?>">CCTV</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(23) ?>">Estate Railings, Paddock Fencing and Tree Guards</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(17) ?>">Gates and Railings</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(21) ?>">Gate Automation and Electric Gates</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(30) ?>">Aluminum Gates</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(29) ?>">GSM Intercom Systems</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(25) ?>">Intercom and Access Control</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(19) ?>">Ready-Made Gates and Railings</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(22) ?>">Roller Garage Doors</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(26) ?>">Security Roller Shutters</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(31) ?>">Service, Maintenance and Repairs</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(24) ?>">Steel bollards, posts and hoop barriers</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(28) ?>">Steel Framed and Timber Clad Gates</a></li>
                  <li><a href="<?php echo Mage::helper('cms/page')->getPageUrl(18) ?>">Traffic Barriers and Vehicle Access Gates</a></li>
                </ul>
              </li> 
        
                <li><a href="<?php echo Mage::getUrl('installation'); ?>">Installation</a></li>
              <li><a href="<?php echo Mage::getUrl('service-and-repair'); ?>">Maintenance & Repair</a></li>
                <li><a href="<?php echo Mage::getUrl('system-safety-testing-risk-assessment'); ?>">System Safety Testing</a></li>
                <li class="n-about"><a href="<?php echo Mage::getUrl('who-we-are'); ?>">About us <span class="arrow-about"></span></a></li>
                <!--<li><a href="<?php echo Mage::getUrl('case-studies'); ?>">Case Studies</a></li>-->
                <li><a href="<?php echo Mage::getUrl('gallery'); ?>">Image Gallery</a></li>
        <li><a href="<?php echo Mage::getUrl('contacts'); ?>">Contact Us</a></li>

        </ul>
    </div> <!-- /#rmm   -->
 
    </div><!--/clickable-mobile -->
  
</nav><!-- /push menu left -->

<nav class="menu push-menu-right">
 
    <div class="mobile-cart-area">
     <button class="close-menu"><span class="fa fa-close"></span></button>
        <p class="total-info">You have <?php
            $count = $this->helper('checkout/cart')->getSummaryCount();  //get total items in cart
            if($count==0)
            {
                echo $this->__('0 items',$count);
            }
            if($count==1)
            {
                echo $this->__('1 item',$count);
            }
            if($count>1)
            {
                echo $this->__('%s items',$count);
            }
            ?> in your cart</p>
        <?php

        //To get your cart object (in session)
        $quote = Mage::getSingleton('checkout/session')->getQuote();
        // Then, to get the list of items in the cart
        $cartItems = $quote->getAllVisibleItems();
        // Then, to get the count for each item :
        foreach ($cartItems as $item): ?>
            <table class="single-product" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td width="60"><a href="<?php echo $item->getUrl(); ?>"><img src="<?php echo Mage::helper('catalog/image')->init($item->getProduct(), 'thumbnail')->resize(50,50); ?>"></a></td>
                    <td><?php echo $item->getQty(); ?> x <?php echo $item->getName(); ?></td>
                </tr>
                </tbody>
            </table>
        <?php endforeach; ?>
        <p class="mobile-total">
            <?php
            $total = $this->helper('checkout/cart')->getQuote()->getGrandTotal(); //get total price
            echo $this->__(' Total: %s', $this->helper('core')->formatPrice($total, false));
            ?>
        </p>
        <p class="mobile-checkout"><a href="<?php echo Mage::getUrl('checkout/cart'); ?>">Checkout</a></p>
        
         <hr>
        
        <ul class="mobile-menu-acc">
            <li><a href="<?php echo Mage::helper('checkout/cart')->getCartUrl(); ?>">My Cart</a></li>
            <li><a href="<?php echo $this->getUrl('wishlist') ?>">My Wishlist</a></li>
            <?php if (! Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                <li><a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo $this->__('Log in/Register') ?></a></li>
            <?php else: ?>
                <li class="tradelink"><a href="<?php echo Mage::getUrl('customer/account'); ?>"><?php echo $this->__('My Account') ?></a></li>
                <li><a href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>"><?php echo $this->__('Log out') ?></a></li>
            <?php endif; ?>
        </ul>
        
        
</div><!-- /mobile-cart-area -->
</nav><!-- /push menu right -->

<nav class="menu push-menu-top">
    <button class="close-menu"><span class="fa fa-close"></span></button>
</nav><!-- /push menu top -->

<nav class="menu push-menu-bottom">
    <button class="close-menu"><span class="fa fa-close"></span></button>
</nav><!-- /push menu bottom -->

    <style type="text/css">
        .unclikable {
            pointer-events: none;
            cursor: default;
        }
    </style>