<?php $_menu = $this->getHtml('level-top') ?>
<?php if ($_menu): ?>

<div class="container-menu hidden-xs">
    <div class="multimenu">
 
        <nav id="navigate">
            <ul class="sf-menu" id="fishmenu">
                <li><a href="<?php echo $this->getUrl('') ?>">Home</a></li>
                
                <li class="sf-blue"><a href="<?php echo Mage::getUrl('about'); ?>">About Us</a></li>
                <li class="sf-blue"><a href="<?php echo Mage::getUrl('contacts'); ?>">Contact Us</a></li>
            </ul>
            <div class="clearfix"></div>
        </nav>
        
    
    </div><!-- /multimenu -->
</div><!-- /container -->

<?php endif ?>
