/* 
	LEVEL ONE
*/
ul.dropdown                         { list-style:none; margin:0; padding:0; position: relative; z-index:10; }
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; }
ul.dropdown li a                    { display: block; padding: 4px 8px; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */

ul.dropdown > li.hover,
ul.dropdown > li:hover              { background: #F3D673; color: black; position: relative; }

ul.dropdown li.hover a              { color: black; }
ul.dropdown > li.active				{ background:#B5DCA7; }
/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ list-style:none; margin:0; padding:0; width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ background: #f6f6f6; color: #000; float: none; }									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 
ul.dropdown ul li a:hover 			{ text-decoration:underline; }

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; list-style:none; margin:0; padding:0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }