/* font-family: 'Arimo', sans-serif; */
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo/arimo-regular-webfont.eot');
    src: url('../fonts/arimo/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo/arimo-regular-webfont.woff2') format('woff2'),
         url('../fonts/arimo/arimo-regular-webfont.woff') format('woff'),
         url('../fonts/arimo/arimo-regular-webfont.ttf') format('truetype'),
         url('../fonts/arimo/arimo-regular-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo/arimo-italic-webfont.eot');
    src: url('../fonts/arimo/arimo-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo/arimo-italic-webfont.woff2') format('woff2'),
         url('../fonts/arimo/arimo-italic-webfont.woff') format('woff'),
         url('../fonts/arimo/arimo-italic-webfont.ttf') format('truetype'),
         url('../fonts/arimo/arimo-italic-webfont.svg#arimoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo/arimo-bold-webfont.eot');
    src: url('../fonts/arimo/arimo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo/arimo-bold-webfont.woff2') format('woff2'),
         url('../fonts/arimo/arimo-bold-webfont.woff') format('woff'),
         url('../fonts/arimo/arimo-bold-webfont.ttf') format('truetype'),
         url('../fonts/arimo/arimo-bold-webfont.svg#arimobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo/arimo-bolditalic-webfont.eot');
    src: url('../fonts/arimo/arimo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo/arimo-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/arimo/arimo-bolditalic-webfont.woff') format('woff'),
         url('../fonts/arimo/arimo-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/arimo/arimo-bolditalic-webfont.svg#arimobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}