/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * { padding:0; margin:0; list-style:none; list-style-type:none; }
.sf-menu li { position: relative;  -webkit-transition: all 0.1s; -moz-transition: all 0.1s; -ms-transition: all 0.1s; -o-transition: all 0.1s; transition: all 0.1s; }
.sf-menu ul { position: absolute; display: none; top: 100%; left: 0; z-index: 99; }
.sf-menu > li { float: left; }
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul { display: block; }
.sf-menu a { display: block; position: relative; }
.sf-menu ul ul { top: 0; left: 100%; }


/*** CUSTOM SKIN ***/
ul.sf-menu a { color:#4682c8;  display:block;zoom: 1; /* IE7 */ }
ul.sf-menu a:hover { text-decoration:none; color:#46c8ff;  }
 
ul.sf-menu > li > a {  text-transform:uppercase; }
ul.sf-menu > li > a:hover { color:#FFFFFF; }

ul.sf-menu > li > ul { background-color:#FFFFFF; box-shadow:0px 0px 20px rgba(0,0,0,0.20);  }
ul.sf-menu > li > ul ul { background-color:#ebebeb; }

ul.sf-menu > li > ul li:first-child { padding-top:10px; }
ul.sf-menu > li > ul li { padding:2px 20px;  }
ul.sf-menu > li > ul li:last-child { padding-bottom:10px; }
 
ul.sf-menu > li > a {  height:60px; line-height:60px; padding-left:42px; padding-right:42px; color:#FFFFFF; }
ul.sf-menu > li:hover > a { background:#4682c8; }
ul.sf-menu > li { background-color: #46c8ff; white-space: nowrap; /* no need for Supersubs plugin */ }
 
ul.sf-menu > li.sf-blue > a { background-color:#4682c8; }
ul.sf-menu > li.sf-blue > a:hover { color:#FFFFFF; }

ul.sf-menu li:hover,
ul.sf-menu li.sfHover  {-webkit-transition: none; transition: none; }

 


/* Arrows only on the submenus  */
ul.sf-arrows > li ul .sf-with-ul {
	padding-right: 40px;
	background-image:url('../../images/sf-with-ul.png');
	background-repeat:no-repeat;
	background-position: center right;
}
ul.sf-arrows > li ul .sf-with-ul:hover { background-image:url('../../images/sf-with-ul_hover.png'); }
 
 



/*         .'|_.-
         .'  '  /_
      .-"    -.   '>
   .- -. -.    '. /    /|_
  .-.--.-.       ' >  /  /
 (o( o( o )       \_."  <
  '-'-''-'            ) <
(       _.-'-.   ._\.  _\
 '----"/--.__.-) _-  \|
       "V""    "V"

*/


@media (max-width:767px) {

} /* Don't delete */

@media (min-width:768px) and (max-width:991px) {

} /* Don't delete */

@media (min-width:992px) and (max-width:1199px) {
 
} /* Don't delete */

@media (min-width:1200px) {

} /* Don't delete */